<a href="https://colab.research.google.com/github/mohd-faizy/Python_Notebooks_Concept/blob/master/02_Control_Flow.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Control Flow - Python Statement**

## **`if elif` & `else`**

In [1]:
hungry = True 

if hungry:
    print('Feed Me!')
else:
    print('I m not hungry')

Feed Me!

In [2]:
loc = 'Auto shop'

if loc == 'Auto shop':
    print('Cars are cool!')
elif loc == 'Bank':
    print('Monry is cool!')
elif loc == 'Store':
    print('Welcome to the Store!')
else:
    print('I do not know the much')

Cars are cool!

## **`for` Loop**

In [3]:
# Iterating through the list
mylist = [1,2,3,4,5]

for num in mylist:
    print(num, end='  ')

1  2  3  4  5

In [4]:
mylist = [1,2,3,4,5]

for num in mylist:
    print('Hello!')

Hello!
Hello!
Hello!
Hello!
Hello!

In [5]:
# Printing odd and even number of a list

my_list = [1,2,3,4,5,6,7,8,9,10]

for num in my_list:
    if num % 2 == 0:
        print(f'even Number:{num}')
    else:
        print(f'odd Number: {num}')

odd Number: 1
even Number:2
odd Number: 3
even Number:4
odd Number: 5
even Number:6
odd Number: 7
even Number:8
odd Number: 9
even Number:10

In [6]:
list_sum = 0

for num in my_list:
    list_sum = list_sum + num
    print(list_sum, end = ', ')

1, 3, 6, 10, 15, 21, 28, 36, 45, 55,

[**How to remove last comma from print(string, end=“, ” ?**](https://stackoverflow.com/questions/52230513/python-how-to-remove-last-comma-from-printstring-end)

In [7]:
# Iterating through the string

mystring = 'FAIZY'
for letter in mystring:
     print(letter)

F
A
I
Z
Y

In [8]:
for _ in 'ICE':
    print('Cool!')

Cool!
Cool!
Cool!

In [9]:
# iteration through Tuple

tup = (1,2,3)
for item in tup:
    print(item)

1
2
3

In [10]:
# Tuple Un-packing

mylist_1 = [(1,2), (3,4), (5,6), (7,8)]

for (a,b) in mylist_1:
    print(a)

1
3
5
7

In [11]:
my_list_1 = [(1,2,3), (4,5,6), (7,8,9)]

for (a,b,c) in my_list_1:
    print(b)

2
5
8

In [12]:
# Iteration through a dictionary
# By default we iterate through Keys

dict_1 = {'k1': 1, 'k2': 2, 'k3': 3}

for (key, value) in dict_1.items():
    print(value)

1
2
3

## **`while` loop**

In [13]:
x = 0

while x < 5:
    print(f'The current value of x is {x} ')
    x += 1
else:
    print('x is Not less then 5')

The current value of x is 0
The current value of x is 1
The current value of x is 2
The current value of x is 3
The current value of x is 4
x is Not less then 5

## **`break, continue, pass`**

__`pass`__-- Do nothing at all.


Programer sometimes keep it as a placeholder to avoide errors to fill it later when working on the larger codes.

In [14]:
x = [1,2,3]
 
for items in x:
    pass

__`continue`__

In [15]:
mystring = 'faizy'
for letter in mystring:
    if letter == 'a':
        continue
    print(letter)

f
i
z
y

**`break`**

In [16]:
x = 0
while x < 5:
    if x == 3:
        break
    print(x)
    x += 1

0
1
2

## **Useful Operators in Python**

**`range`** **operater**

In [17]:
for num in range(0,10,2):
    print(num)

0
2
4
6
8

**Genrating the list of number**

In [18]:
list(range(0,20,3))

[0, 3, 6, 9, 12, 15, 18]

**Enumertate**

In [19]:
index_count = 0

for letter in 'abcde':
    print('At index {} the letter is {}'.format(index_count, letter))
    index_count += 1

At index 0 the letter is a
At index 1 the letter is b
At index 2 the letter is c
At index 3 the letter is d
At index 4 the letter is e

In [20]:
index_counts = 0
word = 'abcde'

for letter in word:

    print(word[index_counts])
    index_counts += 1

a
b
c
d
e

**Enumerate function** will the **index counter** and the **function itself**.

In [21]:
word = 'abcde'
for items in enumerate(word):
    print(items)             # Return the tuples

(0, 'a')
(1, 'b')
(2, 'c')
(3, 'd')
(4, 'e')

In [22]:
word = 'CAT'
for (index,letter) in enumerate(word):
    print(index)
    print(letter)
    print('\n')

0
C


1
A


2
T

**Zip function** - zips the two list together

In [23]:
mylist1 = [1,2,3,4]       
mylist2 = ['a', 'b', 'c']

for items in zip(mylist1, mylist2):

#the output will ignore everything that is extra & zip the shortest
    print(items)

(1, 'a')
(2, 'b')
(3, 'c')

In [24]:
# To check wether the object is presrnt in the list/dict

'a' in ['a', 'b', 'c']
'k1' in {"k1":11, 'k2':22, 'k3':33}

True

In [25]:
d = {"k1":11, 'k2':22, 'k3':33}
11 in d.values()

True

In [26]:
list_x = [10,20,30,40,50,100,101]
print(min(list_x))
print(max(list_x))

10
101

__`Random`__ library

In [27]:
from random import shuffle
mylist_x = [1,2,3,4,5,6,7,8,9,10]
shuffle(mylist_x)
print(mylist_x)

[6, 3, 1, 9, 2, 10, 7, 4, 8, 5]

In [28]:
from random import randint

mynum = randint(0,100)
print(mynum)

60

In [29]:
# input function 
result = input('Favorite Number:')
type(result)
print(int(result))

Favorite Number:7
7

## **List Comprehensions**

In [30]:
# Appending the item to the list
  
mystring = 'Hello'
mylist = []

for letter in mystring:
    mylist.append(letter)
print(mylist)

['H', 'e', 'l', 'l', 'o']

In [31]:
# List Comprehensions -- flatning the for loop 
string_n ='FAIZY'
mylist_n = [letter for letter in string_n]
print(mylist_n)

['F', 'A', 'I', 'Z', 'Y']

In [32]:
list_n = [x for x in 'word']
print(list_n)

['w', 'o', 'r', 'd']

In [33]:
mylist = [num**2 for num in range(0,11)]
print(mylist)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [34]:
# printing the even number in the flaten for loop

mylist = [x**2 for x in range(0,11) if x%2 == 0]
print(mylist)

[0, 4, 16, 36, 64, 100]

In [35]:
# fahrenheit to celcius
celcius = [0, 10, 20, 34.5, 100]
fahrenheit = [((9/5)*temp +32) for temp in celcius]
print(fahrenheit)

[32.0, 50.0, 68.0, 94.1, 212.0]

In [36]:
celcius = [0, 10, 20, 34.5, 100]
fahrenheit = []

for temp in celcius:
    fahrenheit.append((9/5)*temp +32)
print(fahrenheit)

[32.0, 50.0, 68.0, 94.1, 212.0]

In [37]:
mylist = []

for x in [1, 2, 3]:
    for y in [2, 3, 4]:
        mylist.append(x**y)
print(mylist)

[1, 1, 1, 4, 8, 16, 9, 27, 81]