<a href="https://colab.research.google.com/github/mohd-faizy/My_Python_Notebooks_Concept/blob/master/1_My_Python_Object_%26_Data_Structure_U.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# <strong><font color='green'>Python Object and Data Structure Basics</font></strong>

<center><img src = 'https://d1jnx9ba8s6j9r.cloudfront.net/blog/wp-content/uploads/2019/10/TreeStructure-Data-Structures-in-Python-Edureka1.png'><center>


# **Numbers in Python!**
[Numbers w3schools](https://www.w3schools.com/python/python_numbers.asp)

In [0]:
# Basic Arithmetic

a = 2+1  # Addition
b = 2-1  # Subtraction
c = 2*2  # Multiplication
d = 3/2  # Division
e = 7//4 # Floor Division
f = 7%4  # modulo Divison
g = 2**3 # Powers

print(a)
print(b)
print(c)
print(d)
print(e)
print(f)
print(g)

3
1
4
1.5
1
3
8

In [0]:
# Order of Operations followed in Python
a_1 = 2 + 10 * 10 + 3
b_1 = (2+10) * (10+3)

print(a_1)
print(b_1)

105
156

# **Variable**
[Python Variables w3schools](https://www.w3schools.com/python/python_variables.asp)

In [0]:
# Let's create an object called "a" and assign it the number 5
b1 = 5
t = b1 + b1 # Adding the objects
print(t)

10

In [0]:
b1 = 6
new_t = b1 + b1
print(new_t)

12

**The names you use when creating these labels need to follow a few rules:**

    1. Names can not start with a number.
    2. There can be no spaces in the name, use _ instead.
    3. Can't use any of these symbols :'",<>/?|\()!@#$%^&*~-+
    4. It's considered best practice (PEP8) that names are lowercase.
    5. Avoid using the characters 'l' (lowercase letter el), 'O' (uppercase letter oh), 
       or 'I' (uppercase letter eye) as single character variable names.
    6. Avoid using words that have special meaning in Python like "list" and "str"


__Using variable names can be a very useful way to keep track of different variables in Python.__

In [0]:
# Use object names to keep better track of what's going on in your code!
my_income = 100
tax_rate = 0.1
my_taxes = my_income*tax_rate
print(my_taxes)

10.0

**Rules for variable names**

* names can not start with a number
* names **can not contain spaces**, **use _ intead**
* names **can not contain** any of these symbols:

      :'",<>/?|\!@#%^&*~-+
       
* it's considered best practice ([PEP8](https://www.python.org/dev/peps/pep-0008/#function-and-variable-names)) that names are lowercase with underscores
* avoid using Python built-in keywords like `list` and `str`
* avoid using the single characters `l` (lowercase letter el), `O` (uppercase letter oh) and `I` (uppercase letter eye) as they can be confused with `1` and `0`

**Dynamic Typing**

Python uses *dynamic typing*, meaning you can reassign variables to different data types. This makes Python very flexible in assigning data types; it differs from other languages that are *statically typed*.

In [0]:
my_dogs = 2

In [0]:
my_dogs

2

In [0]:
my_dogs = ['Sammy', 'Frankie']

In [0]:
my_dogs

['Sammy', 'Frankie']

|**Pros and Cons of Dynamic Typing**| **Cons of Dynamic Typing**      |
|-----------------------------------|---------------------------------|
| Pros of Dynamic Typing            | may result in unexpected bugs!  |
| very easy to work with            | you need to be aware of `type()`|
| faster development time           |                                 |

**Assigning Variables**

Variable assignment follows `name = object`, where a single equals sign `=` is an *assignment operator*

In [0]:
y = 5
print(y)

5

Here we assigned the integer object `5` to the variable name `y`.<br>Let's assign `y` to something else:

**Reassigning Variables**
Python lets you reassign variables with a reference to the same object.

In [0]:
a = a + 10

In [0]:
a

13

There's actually a shortcut for this. Python lets you add, subtract, multiply and divide numbers with reassignment using `+=`, `-=`, `*=`, and `/=`.

In [0]:
a += 10
print(a)

23

In [0]:
a *= 2

In [0]:
a

46

**Determining variable type** with `type()`
You can check what type of object is assigned to a variable using Python's built-in `type()` function. 

Common data types include:


* **int** (for integer)
* **float**
* **str** (for string)
* **list**
* **tuple**
* **dict** (for dictionary)
* **set**
* **bool** (for Boolean True/False)

In [0]:
type(a)

int

In [0]:
a = (1,2)

In [0]:
type(a)

tuple

# **String Format**

**String**

- A string is a sequence of charactes
- It is immutable.
- It is created by enclosing text with single/double/triple quotes

In [0]:
#Method-1

age = 36
txt = "My name is John, and I am {}"
print(txt.format(age))

My name is John, and I am 36

In [0]:
print('this is a string {}'.format('inserted'))

this is a string inserted

In [0]:
print("the {} {} {}".format("big", "brown", "bear"))

the big brown bear

In [0]:
print("the {1} {0} {2}".format("big", "brown", "bear"))

the brown big bear

In [0]:
print("the {0} {0} {0}".format("big", "brown", "bear"))

the big big big

In [0]:
print("the {f} {s} {d}".format(f="big", s = "brown", d = "bear"))

the big brown bear

# **Float formatting**

**syntax**
`{value:width.precison f}`

In [0]:
result = 22/7
print("the result is {r}".format(r = result))

the result is 3.142857142857143

In [0]:
result = 22/7
print("the result is {r:10.5f}".format(r = result))

the result is    3.14286

In [0]:
name = "faizy"
print("hello my name is {}".format(name))

hello my name is faizy

In [0]:
name = "faizy"
print(f"hello! my name is {name}")

hello! my name is faizy

In [0]:
name = "faizy"
collage = "Jamia Millia Islamia"
print(f"hello my name is {name} and i studied in {collage}")

hello my name is faizy and i studied in Jamia Millia Islamia

# **Mutable vs Immutable**

<img src = 'https://miro.medium.com/max/1400/1*oErPCXv1PFcuuizXqGEEbw.png'>

<center><img src = 'https://miro.medium.com/max/1316/1*uFlTNY4W3czywyU18zxl8w.png'></center>

# **Strings** `'Hello Wolrd'` `im_mutable`

[String w3schools](https://www.w3schools.com/python/python_strings.asp)

- Strings are the sequence of characters using the syntax of either single quotes or double.


```
"hello World"
'hello'
```

- A string is a **sequence** of charactes.

- It is **immutable**.

- It is created by enclosing text with single/double/triple quotes

# **List** `[]` `mutable`, `ordered`, `Allows duplicate`

[List w3schools](https://www.w3schools.com/python/python_lists.asp)


- List is an **ordered** collection of data.

- It is **mutable** and **allow duplicates**.

-It list is created by enclosing the data items with in **square brackets** delimited by ","

In [0]:
my_list = ['string', 100, 23.4,6,'monkey',7,8,10]

'''
syntax[start:stop:step]

'''
print(type(my_list))
print(len(my_list))
print(my_list[0])
print(my_list[2:])
print(my_list[:2])
print(my_list[0:6:2])
print(my_list[0::2])
print(my_list[0:6:])
print(my_list[:6:2])

<class 'list'>
8
string
[23.4, 6, 'monkey', 7, 8, 10]
['string', 100]
['string', 23.4, 'monkey']
['string', 23.4, 'monkey', 8]
['string', 100, 23.4, 6, 'monkey', 7]
['string', 23.4, 'monkey']

In [0]:
#list Concatination
my_list_1 = ['bear', 100, 23.4,6,'monkey',7,'cat',10]
my_list_2 = ['home',78, 23.4,6,'key',7,'room',10]
my_list_3 = my_list_1 + my_list_2
print(my_list_3)

['bear', 100, 23.4, 6, 'monkey', 7, 'cat', 10, 'home', 78, 23.4, 6, 'key', 7, 'room', 10]

In [0]:
my_list_1

['bear', 100, 23.4, 6, 'monkey', 7, 'cat', 10]

In [0]:
#List are mutable
my_list_1[0] = 'lion'
print(my_list_1)

['lion', 100, 23.4, 6, 'monkey', 7, 'cat', 10]

In [0]:
#adding item to the list
my_list_1.append('tiger')
print(my_list_1)

['lion', 100, 23.4, 6, 'monkey', 7, 'cat', 10, 'tiger']

**pop()** is an inbuilt function in Python that *removes and returns* **last value** from the list or the given **index value**

- by default index location is [-1]

In [0]:
#removing the item form the list
my_list_1.pop()
print(my_list_1)

['lion', 100, 23.4, 6, 'monkey', 7, 'cat', 10]

**Sorting the list**

In [0]:
new_list_1 = ['b', 'd', 'f', 'a', 'c', 'e']
new_list_2 = [2, 4, 6, 8, 1, 3, 5, 7, 9]

new_list_1.sort()
new_list_2.sort()

print(new_list_1)
print(new_list_2)

['a', 'b', 'c', 'd', 'e', 'f']
[1, 2, 3, 4, 5, 6, 7, 8, 9]

- In Python, **None** keyword is an object, and it is a **data type** of the class **NoneType**.

- We can assign None to any variable, but you can not create other NoneType objects. 

- New instances of None are not created.

In [0]:
new_list_3 = [1, 2, 3, 4, 5, 6, 7, 8, 9]
new_list_3.reverse()
print(new_list_3)

[9, 8, 7, 6, 5, 4, 3, 2, 1]

__Loooping through a loop__

In [0]:
thelist = ['apple', 'banana', 'ornage']
for x in thelist:
    print(x)

apple
banana
ornage

**Checking if the item exist in the list.**

In [0]:
if 'apple' in thelist:
    print('Yes')
print(len(thelist))

Yes
3

__Appending the item to the list__

In [0]:
thelist = ['apple', 'banana', 'ornage']
thelist.append('apricot')
print(thelist)

['apple', 'banana', 'ornage', 'apricot']

**`insert()` method:**

In [0]:
thelist = ['apple', 'banana', 'ornage']
thelist.insert(1, 'papaya')
print(thelist)

['apple', 'papaya', 'banana', 'ornage']

In [0]:
thelist = ['apple', 'papaya', 'banana', 'ornage']
thelist.remove('papaya')
print(thelist)

['apple', 'banana', 'ornage']

__`.pop()` method removes the specified index__

In [0]:
thelist = ['apple', 'papaya', 'banana', 'ornage']
thelist.pop()
print(thelist)

['papaya', 'banana', 'ornage']

__The `del` keyword can also delete the list completely__

In [0]:
mylist1 = ["apple", "banana", "cherry"]
del mylist1

__The clear() method empties the list__

In [0]:
mylist = ["apple", "banana", "cherry"]
mylist.clear()
print(mylist)

['cherry', 'banana', 'apple']

__Reversing the list__

In [0]:
mylist = ["apple", "banana", "cherry"]
mylist.reverse()
print(mylist)

**Copying the List**

In [0]:
#Method_1
list_1 = ['apple', 'papaya', 'banana', 'ornage']
list_2 = list_1.copy()
print(list_2)

['apple', 'papaya', 'banana', 'ornage']

In [0]:
#Method_2
list_1 = ['apple', 'papaya', 'banana', 'ornage']
list_2 = list(list_1)
print(list_2)

['apple', 'papaya', 'banana', 'ornage']

**Join Two Lists**

In [0]:
list1 = ['a', 'b', 'c']
list2 = [1, 2, 3]
list3 = list1 +list2
print(list3)

['a', 'b', 'c', 1, 2, 3]

**Append list2 into list1:**

In [0]:
list1 = ['a', 'b', 'c']
list2 = [1, 2, 3]
for x in list2:
    list1.append(x)
print(list1)

['a', 'b', 'c', 1, 2, 3]

In [0]:
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

list1.extend(list2)
print(list1)

['a', 'b', 'c', 1, 2, 3]

**The list() Constructor**

In [0]:
thelist = list(("a", "b" , "c"))
print(thelist)

['a', 'b', 'c']

# **Dictionary** `{key:value}` `mutable`, `unordered`

[Dictionary w3schools](https://www.w3schools.com/python/python_dictionaries.asp)

- **Dictionary** is an **unordered collection** of key-values pairs.

- It is **mutable**.

- It is created by enclosing the **key-value parirs (key:value)** with in **curly brackets** delimited by `","`

In [0]:
price_lookup = {'apple':100, 'banana':40, 'milk':29}
price_lookup['apple']

100

In [0]:
d = {'k1':123, 'k2':[0, 1, 2], 'k3':{'inside_key':100}, 'k4':['apple', 'ball', 'cat']}
print(d['k1'])
print(d['k2'])
print(d['k2'][2])
print(d['k3']['inside_key'])

d2 = d['k4'][1]
print(d2.upper())

print(d['k4'][2].upper())

123
[0, 1, 2]
2
100
BALL
CAT

**Adding new key:value pairs**

In [0]:
my_dic = {'k1':100, 'k2':200, 'k3':300}
my_dic['k4'] = 400
print(my_dic)

{'k1': 100, 'k2': 200, 'k3': 300, 'k4': 400}

**Overwriting key:value pairs**

In [0]:
my_dic = {'k1':100, 'k2':200, 'k3':300}
my_dic['k2'] = 'New Value'
print(my_dic)

{'k1': 100, 'k2': 'New Value', 'k3': 300}

In [0]:
my_dic = {'k1':100, 'k2':200, 'k3':300}
my_dic.keys()

dict_keys(['k1', 'k2', 'k3'])

In [0]:
my_dic = {'k1':100, 'k2':200, 'k3':300}
my_dic.values()

dict_values([100, 200, 300])

In [0]:
'''
return Tuple

'''
my_dic = {'k1':100, 'k2':200, 'k3':300}
my_dic.items()

dict_items([('k1', 100), ('k2', 200), ('k3', 300)])

In [43]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

x = thisdict["model"]
y = thisdict.get("model") #Another Method -Same result

print(x)
print(y)

#Changing the values
thisdict["year"] = 2018
print(thisdict)

Mustang
Mustang
{'brand': 'Ford', 'model': 'Mustang', 'year': 2018}

In [48]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
} 

# This will print all the keys
for key in thisdict:
    print(key)

# This will print all the values
for val in thisdict:
    print(thisdict[val])

brand
model
year
Ford
Mustang
1964

In [52]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
for vals in thisdict.values():
    print(vals)

for keys in thisdict.keys():
    print(keys)

Ford
Mustang
1964
brand
model
year

In [53]:
# Looping through both key and values
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
for x in thisdict.items():
    print(x)

('brand', 'Ford')
('model', 'Mustang')
('year', 1964)

**Check if Key Exists**

In [5]:
thisdict = {
  "k1": "tensor",
  "k2": "password",
  "k3": 1984
}

key = input()

if key in thisdict:
    print("this key exist")
else:
    print("You have enter worng key")

k1
this key exist

In [11]:
thisdict = {
  "k1": "tensor",
  "k2": "password",
  "k3": 1984
}

print('Enter the key:')
key = input()

if key in thisdict:
    print("The value of this key is", thisdict[key])
else:
    print("You have enter worng key")

Enter the key:
k1
The value of this key is tensor

**Python `input()` Function**

In [3]:
print('Enter your name:')
x = input()
print('Hello, ' + x)

Enter your name:
faizy
Hello, faizy

# **Tuples** `()`,`im_mutable`, `ordered`, `Duplicates allowed`

[Tuples w3school](https://www.w3schools.com/python/python_tuples.asp)

- They are very similar to the lists.key difference is **immutability**.

- Once an element inside a tuple it cannot be reassigned to something else.

- Tuples uses paranthesis:**(1, 2, 3)**

- Tuple is an **ordered collection** of data.

- It is **immutable** and **allow duplicates**.

- It list is created by enclosing the data items with in round brackets delimited by ","

In [0]:
t = ('a','a', 'b', 'e', 'f', 'c', 'c', 'c')
print(t.count('c'))
print(t.index('c')) #this return the very first time 'c' appers

3
5

In [0]:
# simple Slicing Tuples

t = (0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13)
print(type(t))
print(len(t))

print(t[0])
print(t[2:])
print(t[:2])
print(t[0:6:2])
print(t[0::2])
print(t[0:6:])
print(t[:6:2])

<class 'tuple'>
14
0
(2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13)
(0, 1)
(0, 2, 4)
(0, 2, 4, 6, 8, 10, 12)
(0, 1, 2, 3, 4, 5)
(0, 2, 4)

In [0]:
# Slicing Tuples

t = (['a', 2, 'c', 4], {'k1': 100}, {'k2':['apple', 'ball', 'cat']})

print(type(t))
print(len(t))

print(t[0])
print(t[2:])
print(t[:2])
print(t[0:1:2])
print(t[0::2])
print(t[0:1:])
print(t[:1:2])

<class 'tuple'>
3
['a', 2, 'c', 4]
({'k2': ['apple', 'ball', 'cat']},)
(['a', 2, 'c', 4], {'k1': 100})
(['a', 2, 'c', 4],)
(['a', 2, 'c', 4], {'k2': ['apple', 'ball', 'cat']})
(['a', 2, 'c', 4],)
(['a', 2, 'c', 4],)

In [0]:
t = (['a', 2, 'c', 4], {'k1': 100}, {'k2':['apple', 'ball', 'cat']})

Tuple provides us the convenient source of whats is known as **data integratity**

- Main use of tuples is when we are passing the **objects** in our program, we need to make sure that theyacciedntly get changed

```
TypeError: 'tuple' object does not support item assignment
```

In [0]:
t = ('a', 1, 4, 'ONE', 'apple')
t[0] = 'New'

TypeError: ignored

- Tuples are faster than lists.

- It makes your code safer if you “write-protect” data that does not need to be changed.

- Some tuples can be used as **dictionary keys** (specifically, tuples that contain **immutable value**s like strings, numbers, and other tuples).

**Change Tuple Values**

- Once a tuple is created, you cannot change its values. Tuples are unchangeable, or immutable as it also is called.

- But there is a workaround. You can convert the tuple into a list, change the list, and convert the list back into a tuple.

In [0]:
tup1 = ('a', 'b', 'c', 1, 2, 3)
lis1 = list(tup1)
lis1[0] = 'apple'
tup1 = tuple(lis1)
print(tup1)

('apple', 'b', 'c', 1, 2, 3)

__Loop Through a Tuple__

In [25]:
mytup = ('apple', 'banana', 'orange')
for x in mytup:
    print(x)

apple
banana
orange

**Check if Item Exists**

In [26]:
thistuple = ("apple", "banana", "cherry")
if "apple" in thistuple:
  print("Yes, 'apple' is in the fruits tuple")
print(len(thistuple))

Yes, 'apple' is in the fruits tuple
3

In [0]:
# You cannot add items to a tuple:
thistuple = ("apple", "banana", "cherry")
thistuple[3] = "orange" # This will raise an error
print(thistuple)

<strong><font size = 6 color ='red' >Note:<font><strong> 

**You cannot remove items in a tuple.**

In [0]:
thistuple = ("apple", "banana", "cherry")
del thistuple
print(thistuple) #this will raise an error because the tuple no longer exists

In [0]:
#joining Tuple

tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)

tuple3 = tuple1 + tuple2
print(tuple3)

**The tuple() Constructor**

In [30]:
thistuple = tuple(("apple", "banana", "cherry")) 
print(thistuple)
print(type(thistuple))

('apple', 'banana', 'cherry')
<class 'tuple'>

# **Sets** {}, `mutable`, `unordered`, `No duplicate`
[Sets w3schools](https://www.w3schools.com/python/python_sets.asp)

- Set is an **unordered** collection of data, e.g- we can have say 2 in the set **more then one time**.

- It is mutable and **does not allow duplicates**.

- It is created by enclosing the data items with in curly brackets delimited by ",

**Access Items**

In [31]:
thisset = {"apple", "banana", "cherry"}

for x in thisset:
  print(x)

cherry
banana
apple

In [32]:
thisset = {"apple", "banana", "cherry"}

print("banana" in thisset)

True

**Add Items**

In [33]:
thisset = {"apple", "banana", "cherry"}
thisset.add("orange")
print(thisset)

{'orange', 'cherry', 'banana', 'apple'}

**Add multiple items to a set**

In [34]:
hisset = {"apple", "banana", "cherry"}
thisset.update(["orange", "mango", "grapes"])
print(thisset)

{'mango', 'grapes', 'cherry', 'orange', 'apple', 'banana'}

In [36]:
thisset = {"apple", "banana", "cherry"}

print(len(thisset))

thisset.remove("banana")

print(thisset)
print(len(thisset))

3
{'cherry', 'apple'}
2

**Remove the last item by using the` pop()` method:**

In [0]:
thisset = {"apple", "banana", "cherry"}

x = thisset.pop()

print(x)

print(thisset)

In [0]:
myset = set()

myset.add(1)
print(myset)

myset.add(2)
print(myset)


myset.add(2)
print(myset) #it has to be unique to get added to the set

myset.add(5)
print(myset)

In [0]:
mylist = [1, 1, 1, 1, 2, 2, 3, 3, 3, 4, 5, 6, 6, 6, 7, 7, 8, 8, 9, 9]
print(set(mylist))

In [0]:
set('Mississippi')

`.Union()` Joining two sets

In [0]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)

The update() method inserts the items in set2 into set1:

In [37]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set1.update(set2)
print(set1)

{1, 2, 'c', 3, 'a', 'b'}

# **Booleans** **True/False**
[Booleans w3schools](https://www.w3schools.com/python/python_booleans.asp)

- **Booleans** are the operaters that allow you to convey **True** or **false** statements.

- These are important where we have to deal with control flow and logic!

In [0]:
 print(type(True))
 print(type(False))

In [0]:
1 > 2

In [0]:
1 == 1

In [0]:
b = None #used as a placeholder
print(b)

# **I/O with Basic Files in Python**

In [0]:
# writing my file

%%writefile myfile.txt
Hello my name is mohd faizy
i have completed my masters form JMI
& i am a Machine learning enthusiastic

In [0]:
ls

In [0]:
pwd

In [0]:
myfile = open('/content/myfile.txt')

In [0]:
#this will output everything as a single string
myfile.read()

- if we run this again we recive an empty string this happen because there a cursor at the begining of a file and when you read it the cursor goes all the way to the end.

In [0]:
myfile.read()

- in order to read this file again we have to reset the cursor

In [0]:
# reseting he cursor
myfile.seek(0)

In [0]:
myfile.read()

In [0]:
myfile.seek(0)
myfile.readlines()

In [0]:
#closing the file
myfile.close()

> __So any code within the indented code of block will use myfile as a varible of this text file$\downarrow$__

In [0]:
with open('/content/myfile.txt') as my_new_file:
    content = my_new_file.read() 
print(content)

In [0]:
with open('/content/myfile.txt', mode = 'r') as myfile:
    content = myfile.read()
print(content)

In [0]:
with open('/content/myfile.txt', mode = 'w') as myfile:
    content = myfile.read()
print(content)

In [0]:
#overwriting the files

%%writefile myfile.txt
One On first
Two On second
Three On Third

In [0]:
with open('/content/myfile.txt', mode = 'r') as f:
    print(f.read())

In [0]:
# Adding the new line to this 

with open('/content/myfile', mode = 'a') as f:
    f.write('\nFour On Forth')

In [0]:
with open('/content/myfile.txt', mode = 'r') as f:
    print(f.read())

In [0]:
with open('/content/xyz.txt', mode = 'w') as f:
    f.write('I created a new file')

In [0]:
with open('/content/xyz.txt', mode = 'r') as f:
    print(f.read())

# **Python Operater**

[Python Operators W3school](https://www.w3schools.com/python/python_operators.asp)

1. Arithmetic operators
2. Assignment operators
3. Python Comparison Operators
4. Python Logical Operators
5. Python Identity Operators
6. Python Membership Operators
7. Python Bitwise Operators

## **comparision Operater**

In [0]:
# What Boolean will be the output of the following:

2 < 3 > 10

False

In [0]:
# What Boolean will be the output of the following:

2 <= 3 >= 1

True

In [0]:
1 < 2 and 2 < 3

True

In [0]:
'h' == 'h' and 2 == 2

True

In [0]:
100 == 200 or 2 == 2

True

In [0]:
1 == 1

True

In [0]:
1 != 1

False

In [0]:
not 1 == 1

False

In [0]:
not 400 > 3000

True

# **Python Statements**

# __Resources for More Basic Practice__

[1. Basic Practice](http://codingbat.com/python)

[2. More Mathematical (and Harder) Practice](https://projecteuler.net/archives)



[3. List of Practice Problems](http://www.codeabbey.com/index/task_list)

[4. A SubReddit Devoted to Daily Practice Problems](https://www.reddit.com/r/dailyprogrammer)

[5. A very tricky website with very few hints and touch problems (Not for beginners but still interesting)](http://www.pythonchallenge.com/)

In [0]:
import random
n = random.randint(0,22)
print(n)

In [0]:
import random
randomlist = []
for i in range(0,5):
    n = random.randint(0,100)
    randomlist.append(n)
print(randomlist)

[85, 58, 91, 41, 48]

# Python Statement