<a href="https://colab.research.google.com/github/mohd-faizy/My_Python_Notebooks_Concept/blob/master/2_ATU.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Statements Assessment Test
Let's test your knowledge!

_____
**Use <code>for</code>, .split(), and <code>if</code> to create a Statement that will print out words that start with 's':**

In [0]:
st = 'Print only the words that start with s in this sentence'

for word in st.split():
    if word[0] ==  's':
        print(word)

start
s
sentence

In [0]:
# printing all the letter that has the letter 's' in it

st = 'Print only the words that start with s in this sentence'

# Converting the string into list
x = st.split()

for words in x:
    if 's' in words:
        print(words)

words
start
s
this
sentence

In [0]:
st_1 = 'Sam Print only the words that start with s in this sentence'

for word in st_1.split():
    if word[0].lower ==  's':
        print(word)

______
**Use range() to print all the even numbers from 0 to 10.**

In [0]:
for num in range(0,10,2):
    print(num, end = ' ')

0 2 4 6 8

In [0]:
for num in range(0,10):
    if num%2 == 0:
        print(num, end = ' ')

0 2 4 6 8

___
**Use a List Comprehension to create a list of all numbers between 1 and 50 that are divisible by 3.**

In [0]:
mylist = [num for num in range(1,50) if num%3 == 0]
print(mylist)

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48]

_____
**Go through the string below and if the length of a word is even print "even!"**

In [0]:
st = 'Print every word in this sentence that has an even number of letters'
for word in st.split():
    if len(word) % 2 == 0:
        print(word + ' is even')

word is even
in is even
this is even
sentence is even
that is even
an is even
even is even
number is even
of is even

In [0]:
st = 'Print every word in this sentence that has an even number of letters'

x = st.split()

if len(x) %2 == 0:
    print('Even')
else:
    print('odd')

print(len(x))

odd
13

____
**Write a program that prints the integers from 1 to 100. But for multiples of three print "Fizz" instead of the number, and for the multiples of five print "Buzz". For numbers which are multiples of both three and five print "FizzBuzz".**

In [0]:
for num in range(1,101):
    if num%3 == 0 and num%5 == 0:
        print('FizzBuzz')
    elif num%3 == 0:
        print('Fizz')
    elif num%5 == 0:
        print('Buzz')
    else:
        print(num)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
FizzBuzz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
FizzBuzz
46
47
Fizz
49
Buzz
Fizz
52
53
Fizz
Buzz
56
Fizz
58
59
FizzBuzz
61
62
Fizz
64
Buzz
Fizz
67
68
Fizz
Buzz
71
Fizz
73
74
FizzBuzz
76
77
Fizz
79
Buzz
Fizz
82
83
Fizz
Buzz
86
Fizz
88
89
FizzBuzz
91
92
Fizz
94
Buzz
Fizz
97
98
Fizz
Buzz

In [0]:
for num in range(1,100):
    # LCM of (3,5) is 15
    if num%15 == 0:            
        print('At index {} the letter is "FizzBuzz"'.format(num))

    elif num%3 == 0:
        print('At index {} the letter is "Fizz"'.format(num))
         
    elif num%5 == 0:
        print('At index {} the letter is "Buzz"'.format(num))

    else:
        print(num)

1
2
At index 3 the letter is "Fizz"
4
At index 5 the letter is "Buzz"
At index 6 the letter is "Fizz"
7
8
At index 9 the letter is "Fizz"
At index 10 the letter is "Buzz"
11
At index 12 the letter is "Fizz"
13
14
At index 15 the letter is "FizzBuzz"
16
17
At index 18 the letter is "Fizz"
19
At index 20 the letter is "Buzz"
At index 21 the letter is "Fizz"
22
23
At index 24 the letter is "Fizz"
At index 25 the letter is "Buzz"
26
At index 27 the letter is "Fizz"
28
29
At index 30 the letter is "FizzBuzz"
31
32
At index 33 the letter is "Fizz"
34
At index 35 the letter is "Buzz"
At index 36 the letter is "Fizz"
37
38
At index 39 the letter is "Fizz"
At index 40 the letter is "Buzz"
41
At index 42 the letter is "Fizz"
43
44
At index 45 the letter is "FizzBuzz"
46
47
At index 48 the letter is "Fizz"
49
At index 50 the letter is "Buzz"
At index 51 the letter is "Fizz"
52
53
At index 54 the letter is "Fizz"
At index 55 the letter is "Buzz"
56
At index 57 the letter is "Fizz"
58
59
At index 60 the letter is "FizzBuzz"
61
62
At index 63 the letter is "Fizz"
64
At index 65 the letter is "Buzz"
At index 66 the letter is "Fizz"
67
68
At index 69 the letter is "Fizz"
At index 70 the letter is "Buzz"
71
At index 72 the letter is "Fizz"
73
74
At index 75 the letter is "FizzBuzz"
76
77
At index 78 the letter is "Fizz"
79
At index 80 the letter is "Buzz"
At index 81 the letter is "Fizz"
82
83
At index 84 the letter is "Fizz"
At index 85 the letter is "Buzz"
86
At index 87 the letter is "Fizz"
88
89
At index 90 the letter is "FizzBuzz"
91
92
At index 93 the letter is "Fizz"
94
At index 95 the letter is "Buzz"
At index 96 the letter is "Fizz"
97
98
At index 99 the letter is "Fizz"

____
**Use List Comprehension to create a list of the first letters of every word in the string below:**

In [0]:
st = 'Create a list of the first letters of every word in this string'
[word[0] for word in st.split()]

['C', 'a', 'l', 'o', 't', 'f', 'l', 'o', 'e', 'w', 'i', 't', 's']

In [0]:
st = 'Create a list of the first letters of every word in this string'

x = st.split()

mylist = [letter[0] for letter in  x ]
print(mylist)

['C', 'a', 'l', 'o', 't', 'f', 'l', 'o', 'e', 'w', 'i', 't', 's']

In [0]:
st = 'Create a list of the first letters of every word in this string'

x = st.split()

mylist = []

for letter in x:
    mylist.append(letter[0])
print(mylist)

['C', 'a', 'l', 'o', 't', 'f', 'l', 'o', 'e', 'w', 'i', 't', 's']