<a href="https://colab.research.google.com/github/mohd-faizy/My_Python_Notebooks_Concept/blob/master/2_OOP's_Concept_P2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Object-Oriented Programming**

In [0]:
class Computer:
     
    def __init__(self, cpu, ram):
        self.cpu = cpu
        self.ram = ram  

    def config(self):
        print("config is", self.cpu, self.ram)

com1 = Computer("i5", "16GB")
com2 = Computer("Ryzen-3", "8GB")

com1.config()
com2.config()

config is i5 16GB
config is Ryzen-3 8GB

In [0]:
class Computer:
    pass

c1 = Computer()
c2 = Computer()

print(id(c1))
print(id(c2))

139874984837920
139874984837864

In [0]:
class Computer:
    
    def __init__(self):
        self.name = "Faizy"
        self.age = 29

    
c1 = Computer()
c2 = Computer()

c1.name = "Mohd"

print(c1.name)
print(c2.name)

Mohd
Faizy

In [0]:
class Person:
    
    def __init__(self):
        self.name = "Faizy"
        self.age = 29

    def update(self):
        self.age = 30
    
c1 = Computer()
c2 = Computer()

c1.name = "mohd"
c1.age  = 12

c1.update()

print(c1.name)   
print(c2.age)

mohd
29

**self** is the** pointer** which will **direct toward either c1 or c2**

In [0]:
    Computer:
    
    def __init__(self):
        self.name = "Faizy"
        self.age = 28

#compare takes two parameter (Who is calling, whome to compare)
 
    def compare(self, c2): 
        if self.age == c2.age:
            return True
        else:
            return False
    
c1 = Computer() #object1
c1.age = 30
c2 = Computer() #ibject2

if c1.compare(c2):
    print("They are same")
else:
    print("They are different")

print(c1.age)
print(c2.age)

They are different
30
28

# **Variable**
 
Two type:

 - **Instance Variable**
 - **Class(static) variable**

In [0]:
class Car:
    def __init__(self):
        self.mil  = 10
        self.com = "BMW"

c1 = Car() # object1
c2 = Car() # object1

c1.mil = 8


print(c1.com, c1.mil)
print(c2.com, c2.mil)

BMW 8
BMW 10

In [0]:
# what if we have the varible which is common for all the varible
class Car:

    wheels = 4  # class Varible [as it is inside the class]
                # here wheels belong to the class namespace
    def __init__(self):
        self.mil  = 10     #instance namespace
        self.com = "BMW"   #instance namespace

c1 = Car() # object1
c2 = Car() # object1

c1.mil = 8
c1.com = "Audi "


print(c1.com, c1.mil, c1.wheels)
print(c2.com, c2.mil, c2.wheels)

Audi 8 4
BMW 10 4

**Namespace** is an area where you create and store **object/varible**.

- class namespace
- Object/Instance namespace

**Type of Methods in python**

**Objects** will have two things

1. varibles [ to store the data]

2. methods [ for Behaviour]

We basically have three type of **Methods**.

1. Instance Method 
2. class Method
3. Static Method

In [0]:
class Student:
# creating Static/class varible 
    school = "Jamia Millia Islamia"
    # Function
    def __init__(self, m1, m2, m3):  
        # Declearing the Varibles
        self.m1 = m1                 
        self.m2 = m2                 
        self.m3 = m3     

    # creating the Method
    # This is an instance method Becoz we are passing the self
    # This belong to a particular Object
    def avg(self):
        return(self.m1 + self.m2 + self.m3)/3         

# Creating the Objects
s1 = Student(3, 6, 9)
s2 = Student(9, 15, 3)

print(s1.avg())
print(s2.avg())

6.0
9.0

This is an Instance Method because it works with the objects

we have two different type of instances
1. Accessors Methods [when we just want to fetch the values of the instances varible]



```
def get_m1(self):
        return self.m1
```



2. Mutators Methods [when we want to change the value we use mutators]



```
def set_m1(self, value):
        self.value = value
```

In [0]:
class Student:
# creating Static/class varible 
    school = "Jamia Millia Islamia"
    # Function
    def __init__(self, m1, m2, m3):  
        # Declearing the Varibles
        self.m1 = m1                 
        self.m2 = m2                 
        self.m3 = m3     

    # creating the Method
    # This is an instance method Becoz we are passing the self
    # This belong to a particular Object
    def avg(self):
        return(self.m1 + self.m2 + self.m3)/3    

    def get_m1(self):
        return self.m1     # when we wnat the value of the m1

    def set_m1(self, value):
        self.value = value

# Creating the Objects
s1 = Student(3, 6, 9)
s2 = Student(9, 15, 3)

print(s1.avg())
print(s2.avg())

6.0
9.0

In [0]:
class Student:
# creating Static/class varible 
    school = "Jamia Millia Islamia"
    # Function
    def __init__(self, m1, m2, m3):  
        # Declearing the Varibles
        self.m1 = m1                 
        self.m2 = m2                 
        self.m3 = m3     

    # creating the Method
    # This is an instance method Becoz we are passing the self
    # This belong to a particular Object
    def avg(self):
        return(self.m1 + self.m2 + self.m3)/3    

    @classmethod   #without this error will occur, called as Decorators
                   #Decorators are used to create the class methods
                          
    def info(cls): #working with the class varble
        return cls.school

        
# Creating the Objects
s1 = Student(3, 6, 9)
s2 = Student(9, 15, 3)

print(s1.avg())
print(Student.info())

6.0
Jamia Millia Islamia

## static method

In [0]:
class Student:
# creating Static/class varible 
    school = "Jamia Millia Islamia"
    # Function
    def __init__(self, m1, m2, m3):  
        # Declearing the Varibles
        self.m1 = m1                 
        self.m2 = m2                 
        self.m3 = m3     

    # creating the Method
    # This is an instance method Becoz we are passing the self
    # This belong to a particular Object
    def avg(self):
        return(self.m1 + self.m2 + self.m3)/3    

    @classmethod   #without this error will occur, called as Decorators
                   #Decorators are used to create the class methods
                          
    def get_school(cls): #working with the class varble
        return cls.school

    def info():
        print("This is a student class.. in abc Module")

        
# Creating the Objects
s1 = Student(3, 6, 9)
s2 = Student(9, 15, 3)

print(s1.avg())
print(Student.get_school())

Student.info()

6.0
Jamia Millia Islamia
This is a student class.. in abc Module

# **Inner Class in Python**

Previouly code

```
Class:
  varible
  Method/Function
```


Now can we have the 

```
class 
  inside class
```

In [0]:
class Student:

    def __init__(self, name, rollno):
        self.name   = name 
        self.rollno = rollno
        self.lap    = self.Laptop()


    def show(self):
        print(self.name, self.rollno)
        self.lap.show()
    

    class Laptop:
        def __init__(self):
            self.brand = "Lenovo"
            self.cpu   = "Core-i5"
            self.ram   = "8GB"

         
        def show(self):
            print(self.brand, self.cpu, self.ram)

s1 = Student("Mohd faizy",  "17-MEL-010")
s2 = Student("Azeemuddien", "17-MBA-010")
 
 
s1.show()
s2.show()

lap1 = Student.Laptop()
lap2 = Student.Laptop()

Mohd faizy 17-MEL-010
Lenovo Core-i5 8GB
Azeemuddien 17-MBA-010
Lenovo Core-i5 8GB

# **Inheritance**

![image.png]()

## Single Level Inheritance

In [0]:
 class A:

     def feature_1(self):
         print("Feature 1 is Working")


     def feature_2(self):
         print("Feature 2 is Working")


 class B:

     def feature_3(self):
         print("Feature 3 is Working")

     def feature_4(self):
         print("Feature 4 is Working")



 class C(A, B):

     def feature_5(self):
         print("Feature 5 is Working")

a1 = A()
a1.feature_1()
a1.feature_2()

b1 =B()
b1.feature_3()
b1.feature_4()


c1 =C()
c1.feature_1()
c1.feature_2()
c1.feature_3()
c1.feature_4()
c1.feature_5()

Feature 1 is Working
Feature 2 is Working
Feature 3 is Working
Feature 4 is Working
Feature 1 is Working
Feature 2 is Working
Feature 3 is Working
Feature 4 is Working
Feature 5 is Working

## Constructer in inheritance

In [0]:
 class A:

     def __init__(self):
        print("in A init")

     def feature_1(self):
         print("Feature 1 is Working")


     def feature_2(self):
         print("Feature 2 is Working")


 class B(A):

     def feature_3(self):
         print("Feature 3 is Working")

     def feature_4(self):
         print("Feature 4 is Working")


a1 = B()

in A init

In the code above **class B** is inheriting the constructer from A

- Science we don't have the `__init__`  in class B hence it is to the **class A**

In [0]:
 class A:

     def __init__(self):
        print("in A init")

     def feature_1(self):
         print("Feature 1 is Working")


     def feature_2(self):
         print("Feature 2 is Working")


 class B(A):

     
     def __init__(self):
        super().__init__()
        print("in B init")

     def feature_3(self):
         print("Feature 3 is Working")

     def feature_4(self):
         print("Feature 4 is Working")


a1 = B()

in A init
in B init

By default the above funcion will call the `__init__` from the  **Class B** only.

But What if want to the call the `__init__` from class A also.



```
     def __init__(self):
        super().__init__()
        print("in B init")
```

So when we creae an object of Sub class first & if we have call the super then it will first call init of Super class then call init of sub class

In [0]:
 # case-2
 class A:

     def __init__(self):
        print("in A init")

     def feature_1(self):
         print("Feature 1 is Working")


     def feature_2(self):
         print("Feature 2 is Working")


 class B:
    def __init__(self):
        super().__init__()
        print("In B init")

    def feature_3(self):
         print("Feature 3 is Working")

    def feature_4(self):
         print("Feature 4 is Working")

class C(A, B):

    def __init__(self):
        super().__init__()
        print("In C init")

    def feature_5(self):
         print("Feature 3 is Working")

a1 = C()

in A init
In C init

Here the code is bais toward the A Hence we use the Concept of **Method Resolution Order(MRO)**

In [0]:
# case-3
 class A:

     def __init__(self):
        print("in A init")

     def feature_1(self):
         print("Feature 1-A is Working")


 class B:

     def __init__(self):
        super().__init__()
        print("In B init")

     def feature_2(self):
         print("Feature 1-B is Working")

class C(A, B):

    def __init__(self):
        super().__init__()
        print("In C init")

    def feat(self):
         super().feature_1()

a1 = C()
a1.feat()

in A init
In C init
Feature 1-A is Working

So we can use the Super to call ther other Method not just `__init__`

# **Polymorphism**



- poly[**Many**] morph[**forms**] i.e. that one object can take the multiple forms.

There are 4 ways of doing the polymorphism

1. **Duck Typing**
2. **Operater Overloadning**
3. **Method Overloading**
4. **Method Overriding**

## **1. Duck Typing**

In [0]:
class PyCharm:

    def execute(self):
        print("Compiling")
        print("Running")



class MyEditor:

    def execute(self):
        print("Spell Check")
        print("Convention Check")
        print("Compiling")
        print("Running")

    
class Laptop:

    def code(self, ide):
        # execute() there is something which is not in the exixting class 
        # hence the ide is something which user is defining
        ide.execute() 


ide = MyEditor()

lap1 = Laptop()
lap1.code(ide)

Spell Check
Convention Check
Compiling
Running

## **2.Operater Overloding**

In [0]:
 #case-1

  a = 5
  b = 6
  print(a + b)

  print(int.__add__(a, b ))

11
11

In [0]:
 #case-2 [Concatinaion]
a = "5"
b = "6"

print(str.__add__(a, b ))

56

In [0]:
'''
Case-1
'''
class Student:
    
    def __init__(self, m1, m2):
        self.m1 = m1
        self.m2 = m2

    def __add__(self, other):
        m1 = self.m1 + other.m1
        m2 = self.m2 + other.m1
        s3 = Student(m1, m2)
        return s3


s1 = Student(58, 69)
s2 = Student(60, 65)

s3 = s1 + s2  # this code is converting like <Student.__add__(s1,s2)>
print(s3.m1)

118

So in the above code if we want to he the student add the two student we have to overlode the operater of "+" 

- Becoz the **integer** knows  the **string** what the "+" what the plus operater is,but our student class dont knows what  the plus operater is?
  
hence we have to define our own method

In [0]:
'''
Case-2
'''
class Student:
    
    def __init__(self, m1, m2):
        self.m1 = m1
        self.m2 = m2


    def __add__(self, other):
        m1 = self.m1 + other.m1
        m2 = self.m2 + other.m1
        s3 = Student(m1, m2)
        return s3

    def __gt__(self, other):
        r1 = self.m1 + self.m2
        r2 = other.m1 + other.m2
        if r1 > r2:
            return True
        else:
            return False 
    
    def __str__(self):
        return self.m1, self.m2
        

s1 = Student(58, 69)
s2 = Student(60, 85)

s3 = s1 + s2 

if s1 > s2:  # here if we wnat that our ">" work we have to define it
    print("s1 Wins")
else:
    print("s2 wins")

print(s1.__str__())

s2 wins
(58, 69)

In [0]:
'''
Case-2
'''
class Student:
    
    def __init__(self, m1, m2):
        self.m1 = m1
        self.m2 = m2


    def __add__(self, other):
        m1 = self.m1 + other.m1
        m2 = self.m2 + other.m1
        s3 = Student(m1, m2)
        return s3

    def __gt__(self, other):
        r1 = self.m1 + self.m2
        r2 = other.m1 + other.m2
        if r1 > r2:
            return True
        else:
            return False 
    
    def __str__(self):
        return '{} {}'.format(self.m1, self.m2) 
       

s1 = Student(58, 69)
s2 = Student(60, 85)

s3 = s1 + s2 

if s1 > s2:  # here if we wnat that our ">" work we have to define it
    print("s1 Wins")
else:
    print("s2 wins")

print(s1.__str__())

print(s1)
print(s2)

s2 wins
58 69
58 69
60 85

This how we work with operater overloading

## **3.Method Overloading**

```
def average(a ,b)

def average(a, b, c)
```

In python we cannot create the two method with the same name.

In [0]:
class Student:
    
    def __init__(self, m1, m2):
        self.m1 = m1
        self.m2 = m2


    def __sum__(self, a, b, c):
        s = a + b + c
        return s
       
s1 = Student(58, 69)

print(s1.__sum__(5, 9, 6))

20

In [0]:
class Student:
    
    def __init__(self, m1, m2):
        self.m1 = m1
        self.m2 = m2


    def sum(self, a, b, c):
        s = a + b + c
        return s
       
s1 = Student(58, 69)

print(s1.sum(5, 9, 3))

17


```
print(s1.sum(5, 9, 3))
```
In this code if we pass only two arguments 

```
print(s1.sum(5, 9))
```

the above code will return an error

so how to fix this -:

line: 8
```
def sum(self, a = None, b = None , c = None):
```

In [0]:
class Student:
    
    def __init__(self, m1, m2):
        self.m1 = m1
        self.m2 = m2


    def sum(self, a = None, b = None , c = None): # fix

        s = 0

        if a != None and b != None and c != None:
            s = a + b + c
        elif  a != None and b != None:
            s = a + b
        else:
            s = a
        return s
       
s1 = Student(58, 69)

print(s1.sum(5, 9, 3))
print(s1.sum(5, 9))
print(s1.sum(5))

17
14
5

## **4.Method overriding**

In [0]:
class A:

    def show(self):
        print("In A Show")

class B(A):
    pass

a1 = B()
a1.show()

in A show

The code above will search for **show** in **class B** but since we dont have the show in the **class B** it will go to the **class A** using the property Inheritence

In [0]:
class A:

    def show(self):
        print("In A Show")

class B(A):
    def show(self):
        print("In B Show")

a1 = B()
a1.show()

In B Show

<center><img src='https://qph.fs.quoracdn.net/main-qimg-2dbff592e8f3698ebb6a59021a326961.webp'></center>