<a href="https://colab.research.google.com/github/mohd-faizy/My_Python_Notebooks_Concept/blob/master/3_ATU.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Function Practice Exercises

Problems are arranged in increasing difficulty:
* Warmup - these can be solved using basic comparisons and methods
* Level 1 - these may involve if/then conditional statements and simple methods
* Level 2 - these may require iterating over sequences, usually with some kind of loop
* Challenging - these will take some creativity to solve

## WARMUP SECTION:

#### LESSER OF TWO EVENS: Write a function that returns the lesser of two given numbers *if* both numbers are even, but returns the greater if one or both numbers are odd
    lesser_of_two_evens(2,4) --> 2
    lesser_of_two_evens(2,5) --> 5

In [0]:
def lesser_of_two_evens(a,b):
    if a%2 == 0 and b%2 == 0:
        # BOTH NUMBER ARE EVEN!
        if a < b:
            result = a
        else:
            result = b
    else:
        # ONE OR BOTH NUMBER ARE ODD!
        if a > b:
            result = a
        else:
            result = b
    return result

In [0]:
# cleaner code

def lesser_of_two_evens(a,b):
    if a%2 == 0 and b%2 == 0:
        return min(a,b)
    else:
        return max(a,b)

In [0]:
# Check_1
print(lesser_of_two_evens(2,4))
# Check_2
print(lesser_of_two_evens(2,5))

2
5

#### ANIMAL CRACKERS: Write a function takes a two-word string and returns True if both words begin with same letter
    animal_crackers('Levelheaded Llama') --> True
    animal_crackers('Crazy Kangaroo') --> False

In [0]:
def animal_crackers(text):
    # Grabing the two words
    wordlist = text.split()
    return wordlist[0][0] == wordlist[1][0]

In [0]:
# Check_1
print(animal_crackers('Levelheaded Llama'))

# check_2
# This will return False, hence to fix this we add .lower()
print(animal_crackers('Crazy cat'))

# Check_3
print(animal_crackers('Crazy Kangaroo'))

True
False
False

#### MAKES TWENTY: Given two integers, return True if the sum of the integers is 20 *or* if one of the integers is 20. If not, return False

    makes_twenty(20,10) --> True
    makes_twenty(12,8) --> True
    makes_twenty(2,3) --> False

![Boolean refrece for using the __or__](https://frankcomputerscience.files.wordpress.com/2016/08/logic-gates.jpg?w=900)

In [0]:
'''
Problem with the code:
We checking  some boolean statement
returning boolean
'''

def makes_twenty(n1,n2):
    if n1 == 20 or n2 == 20:
        return True
    elif sum((n1,n2)) == 20:
        return True
    else:
        return False

In [0]:
# Check_1
print(makes_twenty(20,10))
# Check_2
print(makes_twenty(10,10))
# Check_3
print(makes_twenty(2,3))

True
True
False

In [0]:
# Cleaner code 
def makes_twenty_c(n1,n2):
    return n1+n2 == 20 or n1 == 20 or n2 == 20

In [0]:
# Check_1
print(makes_twenty_c(20,10))
# Check_2
print(makes_twenty_c(10,10))
# Check_3
print(makes_twenty_c(2,3))

True
True
False

# LEVEL 1 PROBLEMS

#### OLD MACDONALD: Write a function that capitalizes the first and fourth letters of a name
     
    old_macdonald('macdonald') --> MacDonald
    
Note: `'macdonald'.capitalize()` returns `'Macdonald'`

In [0]:
def old_macdonald(name):
    first_letter = name[0]
    inbetween = name [1:3]
    fourth_letter = name[3]
    rest = name[3:]

    return first_letter.upper() + inbetween + fourth_letter.upper() + rest

In [0]:
# Check
old_macdonald('macdonald')

'MacDdonald'

In [0]:
# cleaner code_c 
def old_macdonald_c(name):
    if len(name) > 3:
        return name[:3].capitalize() + name[3:].capitalize()
    else:
        return 'Name is too short!'

In [0]:
# Check
old_macdonald_c('macdonald')

'MacDonald'

In [0]:
def old_macdonald_c2(name):
    first_half = name[:3]
    second_half = name[3:]

    return first_half.capitalize()  + second_half.capitalize()

In [0]:
# Check
old_macdonald_c2('macdonald')

'MacDonald'

#### MASTER YODA: Given a sentence, return a sentence with the words reversed

    master_yoda('I am home') --> 'home am I'
    master_yoda('We are ready') --> 'ready are We'
    
Note: The .join() method may be useful here. The .join() method allows you to join together strings in a list with some connector string. For example, some uses of the .join() method:

    >>> "--".join(['a','b','c'])
    >>> 'a--b--c'

This means if you had a list of words you wanted to turn back into a sentence, you could just join them with a single space string:

    >>> " ".join(['Hello','world'])
    >>> "Hello world"

In [0]:
# Joining the two strings
mylist = ['a', 'b', 'c']
' '.join(mylist)

'a b c'

In [0]:
def master_yoda(text):
    wordlist = text.split()
    rev_wordlist = wordlist[::-1]
    return ' '.join(rev_wordlist)

In [0]:
# Check_1
print(master_yoda('I am home'))
# Check_2
print(master_yoda('We are ready'))

home am I
ready are We

#### ALMOST THERE: Given an integer n, return True if n is within 10 of either 100 or 200

    almost_there(90) --> True
    almost_there(104) --> True
    almost_there(150) --> False
    almost_there(209) --> True
    
NOTE: `abs(num)` returns the absolute value of a number

In [0]:
def almost_there(n):
    return (abs(100 - n) <= 10 or abs(200 - n) <= 10)

**Absolute value** describes the distance of a number on the number line from **0** without considering which direction from zero the number lies. The **absolute value** of a number is never negative. The **absolute value** of 5 is 5.

In [0]:
# Check_1
print(almost_there(104))
'''
4 <= 10 {True} or 96 <= 10 {False}
hence output is True
'''

# Check_2
print(almost_there(150))
'''
50 <= 10 {False} or 50 <= 10 {False}
hence output is True
'''
# Check_3
print(almost_there(209))

True
False
True

The `abs()` takes only one argument, a number whose absolute value is to be returned. The argument can be an integer, a floating point number or a complex number.

- If the argument is an **integer** or **floating point** number, `abs()` returns the absolute value in integer or float.

- In case of **complex numbe**r, `abs()` returns only the **magnitude part** and that can also be a floating point number.

In [0]:
# Python code to illustrate  
# abs() built-in function 
  
# floating point number 
float = -54.26
print('Absolute value of float is:', abs(float)) 
  
# An integer 
int = -94
print('Absolute value of integer is:', abs(int)) 
  
# A complex number 
complex = (3 - 4j) 
print('Absolute value or Magnitude of complex is:', abs(complex))

Absolute value of float is: 54.26
Absolute value of integer is: 94
Absolute value or Magnitude of complex is: 5.0

# LEVEL 2 PROBLEMS

#### FIND 33: 

Given a list of ints, return True if the array contains a 3 next to a 3 somewhere.

    has_33([1, 3, 3]) → True
    has_33([1, 3, 1, 3]) → False
    has_33([3, 1, 3]) → False

In [0]:
'''
here we are using the for loop that goes through every index position in this list
upto the second to the last one --> then we check the number and number next to it
& if they both are '3' then it return TRUE else False
'''

def has_33(nums):
    for i in range(0,len(nums)-1): #Becoz if we went up to the last digit there is no next digit to check
        if nums[i] == 3 and nums[i+1] == 3: # 'and' becoz we need both expression to be true
            return True
    return False

In [0]:
# Check_1
print(has_33([1, 3, 3]))
# Check_2
print(has_33([1, 3, 1, 3]))
# Check_3
print(has_33([3, 1, 3]))

True
False
False

In [0]:
def has_3_3(num):
    for i in range(0,len(num)-1):
        if num[i:i+2] ==[3, 3]:
            return True
    return False

In [0]:
# Check_1
print(has_3_3([1, 3, 3]))
# Check_2
print(has_3_3([1, 3, 1, 3]))
# Check_3
print(has_3_3([3, 1, 3]))

True
False
False

In [0]:
num = [1,2,3,4,5,6,7]
i = 1
num[i:i+2] # thar is -- num[1:3]

[2, 3]

#### PAPER DOLL: Given a string, return a string where for every character in the original there are three characters
    paper_doll('Hello') --> 'HHHeeellllllooo'
    paper_doll('Mississippi') --> 'MMMiiissssssiiippppppiii'

In [0]:
def paper_doll(text):
    result = ''
    for char in text:
        result += char*3
    return result

In [0]:
# Check_1
print(paper_doll('Hello'))
# Check_2
print(paper_doll('Mississippi'))

HHHeeellllllooo
MMMiiissssssiiissssssiiippppppiii

In [0]:
def triple(str):
    return ''.join([c+c+c for c in str])

triple('Hello')

'HHHeeellllllooo'

In [0]:
# Clean code
def paper_doll_c(text):
    return ''.join([index*3 for index in text])

In [0]:
# Check_1
print(paper_doll_c('Hello'))
# Check_2
print(paper_doll_c('Mississippi'))

HHHeeellllllooo
MMMiiissssssiiissssssiiippppppiii

In [0]:
def paper_doll_n(text):
    length = len(text)  
    index=0
    out=[]
    while index < length:
        out.append(text[index]*3)
        index += 1
    result ="".join(out)
    return result

In [0]:
# Check_1
print(paper_doll_n('Hello'))
# Check_2
print(paper_doll_n('Mississippi'))

HHHeeellllllooo
MMMiiissssssiiissssssiiippppppiii

[**How do I fix TypeError: 'int' object is not iterable?**
](https://stackoverflow.com/questions/14941288/how-do-i-fix-typeerror-int-object-is-not-iterable)

In [0]:
def paper_doll_f(text):
    out=[]
    index=0
    for index in range(len(text)):
        if index < len(text):
            out.append(text[index]*3)
            index += 1
    result ="".join(out)
    return result

# Check_1
print(paper_doll_f('Hello'))
# Check_2
print(paper_doll_f('Mississippi'))

HHHeeellllllooo
MMMiiissssssiiissssssiiippppppiii

#### BLACKJACK: Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. If their sum exceeds 21 *and* there's an eleven, reduce the total sum by 10. Finally, if the sum (even after adjustment) exceeds 21, return 'BUST'
    blackjack(5,6,7) --> 18
    blackjack(9,9,9) --> 'BUST'
    blackjack(9,9,11) --> 19

In [0]:
def blackjack(a,b,c):
    if sum([a,b,c]) <= 21:
        return sum([a,b,c])
    elif sum([a,b,c]) - 10 >= 21 or 11 in (a,b,c):
        return sum([a,b,c]) - 10
    else:
        return 'BUST'

In [0]:
# Check_1
print(blackjack(5,6,7))

# Check_2
print(blackjack(9,9,9))

# Check_3
print(blackjack(9,9,11))

18
BUST
19

#### SUMMER OF '69: Return the sum of the numbers in the array, except ignore sections of numbers starting with a 6 and extending to the next 9 (every 6 will be followed by at least one 9). Return 0 for no numbers.
 
    summer_69([1, 3, 5]) --> 9
    summer_69([4, 5, 6, 7, 8, 9]) --> 9
    summer_69([2, 1, 6, 9, 11]) --> 14

In [0]:
def summer_69(arr):

    total = 0  
    # Adding the boolean & Set it to 'True' 
    # i.e by default we keep adding the number in the list array
    add = True 

    for num in arr:           # arr is list of number
        while add:            # i.e. if add = TRUE, then check the folowing condition
            if num != 6:      # if not 6
                total += num  # then add the number to total
                break
            else:             # when number is 6
                add = False   # i.e. stop adding the number 
                              # Now we are waiting for the nummber 9
        while not add:        # i.e. when add == FALSE, num is not added to the total
            if num != 9:
                break         # we will break from while not add & start adding
            else:
                add = True    # i.e adding the num to the total continues
    return total

In [0]:
# Check_1
print(summer_69([1, 3, 5]))

# Check_2
print(summer_69([4, 5, 6, 7, 8, 9]))

# Check_3
print (summer_69([2, 1, 6, 9, 11]))

9
9
14

In [0]:
def getsum(l):
    sum = 0
    skip = False
    for i in l:
         if i == 13:
             skip = True
             continue
         if skip:
             skip = False
             continue
         sum += i
    return sum

    
getsum([1, 13, 13, 2, 3])

4

**Explanation:**

You go through the items in the list one by one

Each time you

**First check** if it's 13, if it is, then you mark `skip` as `True`, so that you can also skip next item.

**Second**, you check if `skip` is `True`, if it is, which means it's a item right after 13, so you need to `skip` this one too, and you also need to set `skip` back to `False` so that you don't `skip` next item.


**Finally**, if it's not either case above, you add the value up to `sum`

# CHALLENGING PROBLEMS

#### SPY GAME: Write a function that takes in a list of integers and returns True if it contains 007 in order

     spy_game([1,2,4,0,0,7,5]) --> True
     spy_game([1,0,2,4,0,5,7]) --> True
     spy_game([1,7,2,0,4,5,0]) --> False

In [0]:
def spy_game(nums):

    code_list = []               # Creat an empty list
                        
    for num in nums:             # search for the desired number in the list
        if num == 0:             # if the number is 0 or 7 append the number to list
            code_list.append(num)
        elif num == 7:
            code_list.append(num)

    if code_list == [0, 0, 7]:    # Check for the desired sequence in list
        return True
    else:
        return False                


# Check_1
print(spy_game([1,2,4,0,0,7,5]))

# Check_2
print(spy_game([1,0,2,4,0,5,7]))

# Check_3
print(spy_game([1,7,2,0,4,5,0]))

True
True
False

In [0]:
def spy_game_n(nums):

    out_list = []               
                        
    for num in nums:      
        if num == 0 or num == 7:     
            out_list.append(num) 
    if out_list == [0, 0, 7]:   
        return True
    else:
        return False   

# Check_1
print(spy_game_n([1,2,4,0,0,7,5]))

# Check_2
print(spy_game_n([1,0,2,4,0,5,7]))

# Check_3
print(spy_game_n([1,7,2,0,4,5,0]))

True
True
False

Solving the above problem using `pop()` method

In [0]:
def spy_game_c(nums):#  pop() method removes the element at the specified position

    code = [0, 0, 7, 'x'] # we have added 'x' for our Convenience
     # if 007 is present in the code list then
     # code list = [0, 7, 'x'] after 1st pop operation 
     # code list = [7, 'x'] after 2st pop operation
     # len(list['x']) = 1 after 3rd pop operation
     # i.e. if the len(code) == 1 then code 007 is present in code list in order

    for num in nums:        # Iteration through the list of number
        if num == code[0]:
            code.pop(0)     # pop() method removes the element at the specified position

    return len(code) == 1

# Check_1
print(spy_game_c([1,2,4,0,0,7,5]))

# Check_2
print(spy_game_c([1,0,2,4,0,5,7]))

# Check_3
print(spy_game_c([1,7,2,0,4,5,0]))

True
True
False

#### COUNT PRIMES: Write a function that returns the *number* of prime numbers that exist up to and including a given number
    count_primes(100) --> 25

By convention, 0 and 1 are not prime.

**Defination**: A **prime** is narural number that is greater than '1' that has no positive divisors other than '1' or **itself**

In [0]:
def count_primes(num):

    # Check for 0 and 1
    if num < 2:
        return 0 
    ################
    # 2 or greater #
    ################
    # List to store the prime number
    primes = [2]
    # Counter going Up to num 
    x = 3
    # x is going through every number upto input num
    while x <= num:
        # This for loop check if the number is prime
        for y in range(3,x,2):  # test all odd factors up to x-1
            if x%y == 0:
                x += 2
                break
        else:
            primes.append(x)
            x += 2
    print(primes)
    return len(primes)

In [0]:
# Check
count_primes(100)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

25

In [0]:
def count_primes_c(num):

    if num < 2:
        return 0 
   
    primes = [2]
    x = 3

    while x <= num:
     
        for y in primes: 
            if x%y == 0:
                x += 2
                break
        else:
            primes.append(x)
            x += 2
    print(primes)
    return len(primes)

# Check
count_primes_c(100)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

25

In [0]:
# Prime or not 
  
num = 11
  
# If given number is greater than 1 
if num > 1: 
      
   # Iterate from 2 to n / 2  
   for i in range(2, num): 
         
       # If num is divisible by any number between  
       # 2 and n / 2, it is not prime  
       if (num % i) == 0: 
           print(num, "is not a prime number") 
           break
   else: 
       print(num, "is a prime number") 
  
else: 
   print(num, "is not a prime number")

11 is a prime number

**Optimized Method**

We can do following optimizations:

1. Instead of checking till n, we can check till √n because a larger factor of n must be a multiple of smaller factor that has been already checked.

2. The algorithm can be improved further by observing that all primes are of the form 6k ± 1, with the exception of 2 and 3. This is because all integers can be expressed as (6k + i) for some integer k and for i = ?1, 0, 1, 2, 3, or 4; 2 divides (6k + 0), (6k + 2), (6k + 4); and 3 divides (6k + 3). So a more efficient method is to test if n is divisible by 2 or 3, then to check through all the numbers of form 6k ± 1. (Source: [wikipedia](https://en.wikipedia.org/wiki/Primality_test))

In [0]:
# A optimized school method based  
# Python3 program to check 
# if a number is prime 
  
  
def isPrime(n) : 
  
    # Corner cases 
    if (n <= 1) : 
        return False
    if (n <= 3) : 
        return True
  
    # This is checked so that we can skip  
    # middle five numbers in below loop 
    if (n % 2 == 0 or n % 3 == 0) : 
        return False
  
    i = 5
    while(i * i <= n) : 
        if (n % i == 0 or n % (i + 2) == 0) : 
            return False
        i = i + 6
  
    return True
  
  
# Driver Program  
if (isPrime(11)) : 
    print(" true") 
else : 
    print(" false") 
      
if(isPrime(15)) : 
    print(" true") 
else :  
    print(" false")

 true
 false

### Just for fun:
#### PRINT BIG: Write a function that takes in a single letter, and returns a 5x5 representation of that letter
    print_big('a')
    
    out:   *  
          * *
         *****
         *   *
         *   *
HINT: Consider making a dictionary of possible patterns, and mapping the alphabet to specific 5-line combinations of patterns. <br>For purposes of this exercise, it's ok if your dictionary stops at "E".

In [0]:
def print_big(letter):
    patterns = {1:'  *  ',2:' * * ',3:'*   *',4:'*****',5:'**** ',6:'   * ',7:' *   ',8:'*   * ',9:'*    '} # Creating Dict{} keys:value
    alphabet = {'A':[1,2,4,3,3],'B':[5,3,5,3,5],'C':[4,9,9,9,4],'D':[5,3,3,3,5],'E':[4,9,4,9,4], '8':[4,3,4,3,4]}
    for pattern in alphabet[letter.upper()]:
        print(patterns[pattern])

In [0]:
print_big('8')

*****
*   *
*****
*   *
*****

In [0]:
def draw(letter):
    patterns = {'a':'  *  ',
                'b':' * * ',
                'c':'*   *',
                'd':'*****',
                'e':'**** ',
                'f':' ****',
                'g':'*    ',
                'h':'    *',
                'i':'   * ',
                'j':'  *  ',
                'k':' *   ',
                'l':' **  ',
                'm':'  ** ',
                'o':' *** '}
            

    alphabet = {'A':['a','b','c','d','c','c'],
                'B':['e','c','d','c','e'],
                'C':['f','g','g','g','f'],
                'D':['e','c','c','c','e'],
                'E':['d','g','e','g','d'],
                'F':['d','g','e','g','g'],
                'I':['d','j','j','j','d']}

    for i in alphabet[letter.upper()]: # .upper() to avoide the upper case problem during the print
        print(patterns[i])
draw('I')

*****
  *
  *
  *
*****