<a href="https://colab.research.google.com/github/mohd-faizy/My_Python_Notebooks_Concept/blob/master/4_ATU.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##__Hints and Tips for Functions and Methods Assignment__


Here are some hints for helping you complete the assignment!

1. __Volume of a sphere__

Write out your solution by hand as an equation with an input radius, then try to convert your logic to code.

2. __Range check function__

Keep in mind how to use the in operator and the range() function. How can you use in to check if something is in a list?

3. __Upper Case and Lower Case strings__

Whats a goo way to iterate through the string? A for loop perhaps? How can you keep track of you counts? A variable or maybe even a dictionary with a key for upper and a key for lower, then add counts to the value corresponding to the correct key.

4. __Unique numbers in list.__

Try using set() or even just using a for loop with a list and append numbers that you haven't already seen

5. __Multiply all numbers in a list__

Use a for loop to go through the list and take advantage of *= which operate similarly to +=.

6. __Palindrome check__

Remember what s[::-1] does if s is a string, or find a built-in way to reverse a string (function or method)

7. __Pangram check__

This is really tricky, but try using set() and feel free to check the answer for this one!

# Functions and Methods Homework 

Complete the following questions:
____
**Write a function that computes the volume of a sphere given its radius.**
<p>The volume of a sphere is given as $$\frac{4}{3} Ï€r^3$$</p>

In [0]:
def vol(rad):
    return (4/3)*(3.14)*(rad**3)

In [29]:
# Check
vol(2)

33.49333333333333

___
**Write a function that checks whether a number is in a given range (inclusive of high and low)**

In [0]:
def ran_check(num,low,high):
    #Check if num is between low and high (including low and high) hence (high+1)
    if num in range(low,high+1):
        print(" The {} number in the ranage of {} and {}".format(num,low,high))
    else:
        print('The Number is out of range')

In [31]:
# Check_1
ran_check(5,2,7)

 The 5 number in the ranage of 2 and 7

In [32]:
# Check_2
ran_check(7,2,7)

 The 7 number in the ranage of 2 and 7

In [33]:
# Check_3
ran_check(8,2,7)

The Number is out of range

In [34]:
# Check_4
ran_check(1,2,7)

The Number is out of range

In [35]:
# Check_5
ran_check(2,2,7)

 The 2 number in the ranage of 2 and 7

If you only wanted to return a boolean:

In [0]:
def ran_bool(num,low,high):
    if num in range(low,high+1):
        return True
    else:
        return False

In [37]:
ran_bool(3,1,10)

True

In [38]:
ran_bool(1,2,7)

False

In [0]:
def ran_bool_c(num,low, high):
    return num in range(low,high+1)

In [41]:
ran_bool_c(2,3,7)

False

____
**Write a Python function that accepts a string and calculates the number of upper case letters and lower case letters.**

    Sample String : 'Hello Mr. Rogers, how are you this fine Tuesday?'
    Expected Output : 
    No. of Upper case characters : 4
    No. of Lower case Characters : 33

HINT: Two string methods that might prove useful: **.isupper()** and **.islower()**

If you feel ambitious, explore the Collections module to solve this problem!

In [0]:
def up_low(s_u):
    d={"upper":0, "lower":0}
    for c in s_u:
        if c.isupper():
            d["upper"]+=1
        elif c.islower():
            d["lower"]+=1
        else:
            pass
    print("Original String : ", s_u)
    print("No. of Upper case characters : ", d["upper"])
    print("No. of Lower case Characters : ", d["lower"])

In [156]:
s_u = 'Hello Mr. Rogers, how are you this fine Tuesday?'
up_low(s_u)

Original String :  Hello Mr. Rogers, how are you this fine Tuesday?
No. of Upper case characters :  4
No. of Lower case Characters :  33

In [0]:
def up_low(str_):
    up_list = []
    low_list = []               
                        
    for letter in list(str_):
        if letter.isupper():
            up_list.append(letter)
        elif letter.islower():
            low_list.append(letter)
        else:
            pass
    print("Original String : ", str_)
    print('No. of Upper case characters: {}'.format(len(up_list)))
    print('No. of Lower case Characters: {}'.format(len(low_list)))

In [158]:
str_ = 'Hello Mr. Rogers, how are you this fine Tuesday?'
up_low(str_)

Original String :  Hello Mr. Rogers, how are you this fine Tuesday?
No. of Upper case characters: 4
No. of Lower case Characters: 33

In [153]:
def up_low(string):
  uppers = 0
  lowers = 0
  for char in string:
    if char.islower():
      lowers += 1
    elif char.isupper():
      uppers +=1
    else: #for the rest of the chars that aren't lower non upper-@#$%^&*
      pass
  return(uppers, lowers)

print(up_low('Hello Mr. Rogers, how are you this fine Tuesday?'))

(4, 33)

In [154]:
str_n = 'Hello Mr. Rogers, how are you this fine Tuesday?'

def up_low(str_n ):
    a=list(str_n )       
    u=[]
    l=[]
    for x in a:
        if x.isupper():
            u.append(x)
        elif x.islower():
            l.append(x)
        else:
            pass  
    return u, l

u, l = up_low(str_n)        
print(f'No. of Upper case characters: {len(u)}')
print(f'No. of Lower case Characters: {len(l)}')

No. of Upper case characters: 4
No. of Lower case Characters: 33

____
**Write a Python function that takes a list and returns a new list with unique elements of the first list.**

    Sample List : [1,1,1,1,2,2,3,3,3,3,4,5]
    Unique List : [1, 2, 3, 4, 5]

In [0]:
def unique_list(lst):
    new_list = []
    i = 0

    for num in lst:
        if num[i] == num[i+1]: 
            new_list.append(num)
        return new_list

__Error__ : 'int' object is not subscriptable

It means you can't do `i[1]` if `i` is an integer

-  Another reason if we are trying to access lists, but we have assigned integers to your variables instead of lists of integers.


[What does the message "'int' object not subscriptable" mean in Python?](https://www.quora.com/What-does-the-message-int-object-not-subscriptable-mean-in-Python)

In [217]:
unique_list([1,1,1,1,2,2,3,3,3,3,4,5])

TypeError: ignored

In [0]:
def unique_list_gen(lst):
    unique_list = []

    for item in lst:
        if item not in unique_list:
            unique_list.append(item)
    return unique_list

In [225]:
unique_list_gen([1,1,1,1,2,2,3,3,3,3,4,5])

[1, 2, 3, 4, 5]

____
**Write a Python function to multiply all the numbers in a list.**

    Sample List : [1, 2, 3, -4]
    Expected Output : -24

In [0]:
def multiply(numbers):
    total = numbers[0]
    for x in numbers:
        total *= x
    return total

In [239]:
multiply([1,2,3,-4])

-24

In [237]:
# Python program to multiply all values in the 
# list using traversal 
  
def multiplyList(myList) : 
      
    # Multiply elements one by one 
    result = 1
    for x in myList: 
         result = result * x  # result *= x 
    return result  
      
# Driver code 
list1 = [1, 2, 3]  
list2 = [3, 2, 4] 
print(multiplyList(list1)) 
print(multiplyList(list2))

6
24

____
**Write a Python function that checks whether a passed in string is palindrome or not.**

Note: A palindrome is word, phrase, or sequence that reads the same backward as forward, e.g., madam or nurses run.

In [0]:
def palindrome(s):
    return s == s[::-1] # Check if the string 's' is equal to the string reverse

In [244]:
palindrome('helleh')

False

____
#### Hard:

**Write a Python function to check whether a string is pangram or not.**

    Note : Pangrams are words or sentences containing every letter of the alphabet at least once.
    For example : "The quick brown fox jumps over the lazy dog"

Hint: Look at the string module

In [0]:
import string

def ispangram(str_s, alphabet=string.ascii_lowercase):  
    alphaset = set(alphabet)  
    return alphaset <= set(str_s.lower())

In [261]:
ispangram("The quick brown fox jumps over the lazy dog")

True

In [253]:
lowercase = string.ascii_lowercase
print(lowercase)

abcdefghijklmnopqrstuvwxyz

In [254]:
letter = string.ascii_letters
print(letter)

abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ

In [255]:
uppercase = string.ascii_uppercase
print(uppercase)

ABCDEFGHIJKLMNOPQRSTUVWXYZ

In [258]:
dir(string)

['Formatter',
 'Template',
 '_ChainMap',
 '_TemplateMetaclass',
 '__all__',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '_re',
 '_string',
 'ascii_letters',
 'ascii_lowercase',
 'ascii_uppercase',
 'capwords',
 'digits',
 'hexdigits',
 'octdigits',
 'printable',
 'punctuation',
 'whitespace']

In [270]:
from string import ascii_lowercase as lower

abc = ''

for i in lower:
    abc += i + '*'
print(abc)

a*b*c*d*e*f*g*h*i*j*k*l*m*n*o*p*q*r*s*t*u*v*w*x*y*z*