<a href="https://colab.research.google.com/github/mohd-faizy/My_Python_Notebooks_Concept/blob/master/Python_Bootcamp_U.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# <center>**Python Object and Data Structure Basics**</center>

<center><img src = 'https://d1jnx9ba8s6j9r.cloudfront.net/blog/wp-content/uploads/2019/10/TreeStructure-Data-Structures-in-Python-Edureka1.png'><center>

# **String Format**

**String**

- A string is a sequence of charactes
- It is immutable.
- It is created by enclosing text with single/double/triple quotes

In [0]:
#Method-1

age = 36
txt = "My name is John, and I am {}"
print(txt.format(age))

My name is John, and I am 36

In [0]:
print('this is a string {}'.format('inserted'))

this is a string inserted

In [0]:
print("the {} {} {}".format("big", "brown", "bear"))

the big brown bear

In [0]:
print("the {1} {0} {2}".format("big", "brown", "bear"))

the brown big bear

In [0]:
print("the {0} {0} {0}".format("big", "brown", "bear"))

the big big big

In [0]:
print("the {f} {s} {d}".format(f="big", s = "brown", d = "bear"))

the big brown bear

# **Float formatting**

**syntax**
`{value:width.precison f}`

In [0]:
result = 22/7
print("the result is {r}".format(r = result))

the result is 3.142857142857143

In [0]:
result = 22/7
print("the result is {r:10.5f}".format(r = result))

the result is    3.14286

In [0]:
name = "faizy"
print("hello my name is {}".format(name))

hello my name is faizy

In [0]:
name = "faizy"
print(f"hello! my name is {name}")

hello! my name is faizy

In [0]:
name = "faizy"
collage = "Jamia Millia Islamia"
print(f"hello my name is {name} and i studied in {collage}")

hello my name is faizy and i studied in Jamia Millia Islamia

# **Mutable vs Immutable**

<img src = 'https://miro.medium.com/max/1400/1*oErPCXv1PFcuuizXqGEEbw.png'>

<center><img src = 'https://miro.medium.com/max/1316/1*uFlTNY4W3czywyU18zxl8w.png'></center>

# **Strings** `'Hello Wolrd'` `im_mutable`

- Strings are the sequence of characters using the syntax of either single quotes or double.


```
"hello World"
'hello'
```

- A string is a **sequence** of charactes.

- It is **immutable**.

- It is created by enclosing text with single/double/triple quotes

# **List** `[]` `mutable`, `ordered`, `Duplicates allowd`


- List is an **ordered** collection of data.

- It is **mutable** and **allow duplicates**.

-It list is created by enclosing the data items with in **square brackets** delimited by ","

In [0]:
my_list = ['string', 100, 23.4,6,'monkey',7,8,10]

'''
syntax[start:stop:step]

'''
print(type(my_list))
print(len(my_list))
print(my_list[0])
print(my_list[2:])
print(my_list[:2])
print(my_list[0:6:2])
print(my_list[0::2])
print(my_list[0:6:])
print(my_list[:6:2])

<class 'list'>
8
string
[23.4, 6, 'monkey', 7, 8, 10]
['string', 100]
['string', 23.4, 'monkey']
['string', 23.4, 'monkey', 8]
['string', 100, 23.4, 6, 'monkey', 7]
['string', 23.4, 'monkey']

In [0]:
#list Concatination
my_list_1 = ['bear', 100, 23.4,6,'monkey',7,'cat',10]
my_list_2 = ['home',78, 23.4,6,'key',7,'room',10]
my_list_3 = my_list_1 + my_list_2
print(my_list_3)

['bear', 100, 23.4, 6, 'monkey', 7, 'cat', 10, 'home', 78, 23.4, 6, 'key', 7, 'room', 10]

In [0]:
my_list_1

['bear', 100, 23.4, 6, 'monkey', 7, 'cat', 10]

**List**

- List is an ordered collection of data.
- It is **mutable** and **allow duplicates**.
- It list is created by enclosing the data items with in square brackets delimited by `","`

In [0]:
#List are mutable
my_list_1[0] = 'lion'
print(my_list_1)

['lion', 100, 23.4, 6, 'monkey', 7, 'cat', 10]

In [0]:
#adding item to the list
my_list_1.append('tiger')
print(my_list_1)

['lion', 100, 23.4, 6, 'monkey', 7, 'cat', 10, 'tiger']

**pop()** is an inbuilt function in Python that *removes and returns* **last value** from the list or the given **index value**

- by default index location is [-1]

In [0]:
#removing the item form the list
my_list_1.pop()
print(my_list_1)

['lion', 100, 23.4, 6, 'monkey', 7, 'cat', 10]

**Sorting the list**

In [0]:
new_list_1 = ['b', 'd', 'f', 'a', 'c', 'e']
new_list_2 = [2, 4, 6, 8, 1, 3, 5, 7, 9]

new_list_1.sort()
new_list_2.sort()

print(new_list_1)
print(new_list_2)

['a', 'b', 'c', 'd', 'e', 'f']
[1, 2, 3, 4, 5, 6, 7, 8, 9]

- In Python, **None** keyword is an object, and it is a **data type** of the class **NoneType**.

- We can assign None to any variable, but you can not create other NoneType objects. 

- New instances of None are not created.

In [0]:
new_list_3 = [1, 2, 3, 4, 5, 6, 7, 8, 9]
new_list_3.reverse()
print(new_list_3)

[9, 8, 7, 6, 5, 4, 3, 2, 1]

# **Dictionary** `{key:value}` `mutable`, `unordered`

- **Dictionary** is an **unordered collection** of key-values pairs.

- It is **mutable**.

- It is created by enclosing the **key-value parirs (key:value)** with in **curly brackets** delimited by `","`

In [0]:
price_lookup = {'apple':100, 'banana':40, 'milk':29}
price_lookup['apple']

100

In [0]:
d = {'k1':123, 'k2':[0, 1, 2], 'k3':{'inside_key':100}, 'k4':['apple', 'ball', 'cat']}
print(d['k1'])
print(d['k2'])
print(d['k2'][2])
print(d['k3']['inside_key'])

d2 = d['k4'][1]
print(d2.upper())

print(d['k4'][2].upper())

123
[0, 1, 2]
2
100
BALL
CAT

In [0]:
#adding new key:value pairs
my_dic = {'k1':100, 'k2':200, 'k3':300}
my_dic['k4'] = 400
print(my_dic)

{'k1': 100, 'k2': 200, 'k3': 300, 'k4': 400}

In [0]:
#Overwriting key:value pairs
my_dic = {'k1':100, 'k2':200, 'k3':300}
my_dic['k2'] = 'New Value'
print(my_dic)

{'k1': 100, 'k2': 'New Value', 'k3': 300}

In [0]:
my_dic = {'k1':100, 'k2':200, 'k3':300}
my_dic.keys()

dict_keys(['k1', 'k2', 'k3'])

In [0]:
my_dic = {'k1':100, 'k2':200, 'k3':300}
my_dic.values()

dict_values([100, 200, 300])

In [0]:
'''
return Tuple

'''
my_dic = {'k1':100, 'k2':200, 'k3':300}
my_dic.items()

dict_items([('k1', 100), ('k2', 200), ('k3', 300)])

# **Tuples** `()`,`im_mutable`, `ordered`, `Duplicates allowed`

- They are very similar to the lists.key difference is **immutability**.

- Once an element inside a tuple it cannot be reassigned to something else.

- Tuples uses paranthesis:**(1, 2, 3)**

- Tuple is an **ordered collection** of data.

- It is **immutable** and **allow duplicates**.

- It list is created by enclosing the data items with in round brackets delimited by ","

In [0]:
t = ('a','a', 'b', 'e', 'f', 'c', 'c', 'c')
print(t.count('c'))
print(t.index('c')) #this return the very first time 'c' appers

3
5

In [0]:
# simple Slicing Tuples

t = (0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13)
print(type(t))
print(len(t))

print(t[0])
print(t[2:])
print(t[:2])
print(t[0:6:2])
print(t[0::2])
print(t[0:6:])
print(t[:6:2])

<class 'tuple'>
14
0
(2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13)
(0, 1)
(0, 2, 4)
(0, 2, 4, 6, 8, 10, 12)
(0, 1, 2, 3, 4, 5)
(0, 2, 4)

In [0]:
# Slicing Tuples

t = (['a', 2, 'c', 4], {'k1': 100}, {'k2':['apple', 'ball', 'cat']})

print(type(t))
print(len(t))

print(t[0])
print(t[2:])
print(t[:2])
print(t[0:1:2])
print(t[0::2])
print(t[0:1:])
print(t[:1:2])

<class 'tuple'>
3
['a', 2, 'c', 4]
({'k2': ['apple', 'ball', 'cat']},)
(['a', 2, 'c', 4], {'k1': 100})
(['a', 2, 'c', 4],)
(['a', 2, 'c', 4], {'k2': ['apple', 'ball', 'cat']})
(['a', 2, 'c', 4],)
(['a', 2, 'c', 4],)

In [0]:
t = (['a', 2, 'c', 4], {'k1': 100}, {'k2':['apple', 'ball', 'cat']})

k2

Tuple provides us the convenient source of whats is known as **data integratity**

- Main use of tuples is when we are passing the **objects** in our program, we need to make sure that theyacciedntly get changed

```
TypeError: 'tuple' object does not support item assignment
```

In [0]:
t = ('a', 1, 4, 'ONE', 'apple')
t[0] = 'New'

- Tuples are faster than lists.

- It makes your code safer if you “write-protect” data that does not need to be changed.

- Some tuples can be used as **dictionary keys** (specifically, tuples that contain **immutable value**s like strings, numbers, and other tuples).

# **Sets** {}, `mutable`, `unordered`, `No duplicates`

- Set is an **unordered** collection of data, e.g- we can have say 2 in the set **more then one time**.

- It is mutable and **does not allow duplicates**.

- It is created by enclosing the data items with in curly brackets delimited by ",

In [0]:
myset = set()

myset.add(1)
print(myset)

myset.add(2)
print(myset)


myset.add(2)
print(myset) #it has to be unique to get added to the set

myset.add(5)
print(myset)

{1}
{1, 2}
{1, 2}
{1, 2, 5}

In [0]:
mylist = [1, 1, 1, 1, 2, 2, 3, 3, 3, 4, 5, 6, 6, 6, 7, 7, 8, 8, 9, 9]
print(set(mylist))

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [0]:
set('Mississippi')

{'M', 'i', 'p', 's'}

# **Booleans**

- **Booleans** are the operaters that allow you to convey **True** or **false** statements.

- These are important where we have to deal with control flow and logic!

In [0]:
 print(type(True))
 print(type(False))

<class 'bool'>
<class 'bool'>

In [0]:
1 > 2

False

In [0]:
1 == 1

True

In [0]:
b = None #used as a placeholder
print(b)

None

# **I/O with Basic Files in Python**