<a href="https://colab.research.google.com/github/mohd-faizy/Python_Notebooks_Concept/blob/master/03_Methods_%26_Functions_P1_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<strong  align='center'>
    <h1>Methods & Functions</h1>
</strong>

We've already seen a few example of methods when learning about Object and Data Structure Types in Python. Methods are essentially functions built into objects. Later on in the course we will learn about how to create our own objects and methods using Object Oriented Programming (OOP) and classes.

Methods perform specific actions on an object and can also take arguments, just like a function. This lecture will serve as just a brief introduction to methods and get you thinking about overall design methods that we will touch back upon when we reach OOP in the course.

Methods are in the form:

    object.method(arg1,arg2,etc...)
    
You'll later see that we can think of methods as having an argument 'self' referring to the object itself. You can't see this argument but we will be using it later on in the course during the OOP lectures.

Let's take a quick look at what an example of the various methods a list has:

In [37]:
# Create a simple list
lst = [1,2,3,4,5]

Fortunately, with iPython and the Jupyter Notebook we can quickly see all the possible methods using the tab key. The methods for a list are:

* append
* count
* extend
* insert
* pop
* remove
* reverse
* sort

Let's try out a few of them:

`append()` allows us to add elements to the end of a list:

In [38]:
lst.append(6)

In [39]:
lst

[1, 2, 3, 4, 5, 6]

Great! Now how about count()? The count() method will count the number of occurrences of an element in a list.

In [40]:
# Check how many times 2 shows up in the list
lst.count(2)

1

You can always use Shift+Tab in the Jupyter Notebook to get more help about the method. In general Python you can use the help() function:

In [41]:
help(lst.count)

Help on built-in function count:

count(...) method of builtins.list instance
    L.count(value) -> integer -- return number of occurrences of value

### __functions__

functions allows us to create blocks of codes that can be easily executed many times, without needing to constantly rewrite the entire block of code.

- You can pass data, known as __parameters__, into a function.

- A function can __return__ data as a __result__.

**Arguments**

- Information can be passed into functions as **arguments**.

- Arguments are specified after the function name, inside the parentheses. we can add as many arguments as you want, just separate them with a comma.

__`return`__ keyword:

- typically we use the __`return`__ keyword to send back the result of the function, insted of just printing it out.

- __`return`__ allows us to assign the output of a function to new varible,

In [42]:
def name_function():
    '''
    DOCSTRING: Infomation about the function
    INPUT: 
    OUTPUT:
    '''
    print('Hello')

In [43]:
help(name_function)

Help on function name_function in module __main__:

name_function()
    DOCSTRING: Infomation about the function
    INPUT:
    OUTPUT:

In [44]:
def say_hello(name):
    #print('hello ' + name)
    return 'hello ' + name

result = say_hello('faizy')
result # We do not get any thing for the result

'hello faizy'

when we uses the __print__ function insted of __return__ then the type it return is  __NoneType__ because the function isn't  returning something
hence we need to use the __return__ keyword is used.

In [45]:
type(result)

str

In [46]:
# Add Function 
def add(n1,n2):
    return n1+n2

result = add(50,60)
print(result)

110

Typically when using the function we have to use the __return__ keyword as we can assign the result to a varible and can use it later.

> __find out if the word dog is in the string__

In [47]:
# beginner approch

def dog_check(mystring):
    if 'dog' in mystring.lower():
    # No needs if statement as the statement is iteslf a boolean 
        return True
    else:
        return False

In [48]:
dog_check('My dog ran away')

True

In [49]:
# Pro Approch

def dog_check(mystring):
    return 'dog' in mystring.lower()

In [50]:
dog_check('My dog ran away')

True

In [51]:
fruits = ["apple", "banana", "cherry"]

def my_function(food):
  for x in food:
    print(x)

my_function(fruits)

apple
banana
cherry

#### __Recursion__

Python also accepts function **recursion**, which means a defined function can call itself.

**Recursion** is a common mathematical and programming concept. It means that a **function calls itself**. This has the benefit of meaning that you can loop through data to reach a result.

The developer should be very careful with **recursion** as it can be quite easy to slip into writing a function which never terminates, or one that uses excess amounts of memory or processor power. However, when written correctly recursion can be a very efficient and mathematically-elegant approach to programming.

In [52]:
def tri_recursion(k):
  if k > 0:
    result = k + tri_recursion(k - 1)
    print(result)
  else:
    result = 0
  return result

In this example, `tri_recursion()` is a function that we have defined to call itself ("recurse"). We use the `k` variable as the data, which decrements (`-1`) every time we recurse. The recursion ends when the condition is not greater than 0 (i.e. when it is 0).

In [53]:
#print("\n\nRecursion Example Results")
tri_recursion(6)

1
3
6
10
15
21

21

#### __PIG LATIN Translater__ 

- if word start with a vowel, add 'ay' to end.
- if word does not start with a vowel, put first letter at the end,then add 'ay'
- word --> ordway
- apple --> appleay

In [54]:
def pig_latin(word):
    first_letter = word[0]
    # check if vowel
    if first_letter in 'aieou':
        pig_word = word + 'ay'
    else:
        pig_word = word[1:] + first_letter + 'ay'
    return pig_word

In [55]:
pig_latin('apple')

'appleay'

In [56]:
pig_latin('word')

'ordway'

### `*args` & `**kwargs` [arguments & Keywords arguments]

In Python, we can pass a variable number of arguments to a function using special symbols. There are two special symbols:

- __*args__ (Non Keyword Arguments)
- __**kwargs__ (Keyword Arguments)

In [57]:
# Return the 5% sum of a and b

def myfunc(a,b):                # a, b are the example of positional arguments
    return sum((a,b)) * 0.05    # passing the arguments as a tuple() or list[]

While working with multiple positional arguments. In the sum functional we have to pass them as a __tuple()__ or __list[  ]__

In [58]:
myfunc(40,60)

5.0

__Working with the multiple arguments:__

In [59]:
def myfunc(a,b,c=0,d=0,e=0):
    return sum((a,b,c,d,e)) * 0.05

In [60]:
myfunc(40,60,70,30,100)

15.0

#### `*args`

If the number of arguments is **unknown**, add a * before the parameter name:

Python has __*args__ which allow us to pass the variable number of non keyword arguments to function.

In the function, we should use an asterisk * before the parameter name to pass variable length arguments.The arguments are passed as a __tuple__

In [61]:
def myfunc_1(*args): 
# This allow us treat this as a tuple of the arguments that are comming in
    return sum(args) * 0.05

In [62]:
myfunc_1(40,60,70,30,100,500,100)

45.0

In [63]:
def myfunc_2(*args):
    print(args)     # its just a tuple
    for items in args:
        print(items)

In [64]:
myfunc_2(40,60,70,30,100)

(40, 60, 70, 30, 100)
40
60
70
30
100

In [65]:
def my_function(*args):
  print("The youngest child is " + args[2])

my_function("Emlie","Tobias" ,"Linus")

The youngest child is Linus

#### `**kwargs`

__**kwargs__ allows us to pass the variable length of keyword arguments to the function.

In the function, we use the double asterisk ** before the parameter name to denote this type of argument. The arguments are passed as a **dictionary**

In [66]:
def my_function(child3, child2, child1):
  print("The youngest child is " + child3)

my_function(child1 = "Emil", child2 = "Tobias", child3 = "Linus")

The youngest child is Linus

In [67]:
def my_function(**kwargs):
  print("His last name is " + kwargs["lname"])

my_function(fname = "Mohd", lname = "Faizy")

His last name is Faizy

In [68]:
def myfunc_3(**kwargs):
    print(kwargs)      # its just a dictionay
    if 'fruit' in kwargs:
        print('My fruit of choice is {}'.format(kwargs['fruit']))
    else:
        print('I did not find any fruit here')

In [69]:
myfunc_3(fruit = 'apple', veggie = 'lattuce')

{'fruit': 'apple', 'veggie': 'lattuce'}
My fruit of choice is apple

In [70]:
def myfunc_4(*args, **kwargs):
    print(args)
    print(kwargs)
    print('I would to have {} {}'.format(args[1], kwargs['food']))

In the __myfunc_4__ the positional argument is follwed by the keyword arguments.

if we use the reverse order to genrate the output, this will produce the syntaz error.

In [71]:
myfunc_4(5,10,15, fruit = 'orange', food = 'eggs' , animal = 'goat')

(5, 10, 15)
{'fruit': 'orange', 'food': 'eggs', 'animal': 'goat'}
I would to have 10 eggs

**Things to Remember:**

- __*args__ and __*kwargs__ are special keyword which allows function to take variable length argument.

- __*args__ passes variable number of non-keyworded arguments list and on which operation of the list can be performed.

- __**kwargs__ passes variable number of keyword arguments dictionary to function on which operation of a dictionary can be performed.

- __*args__ and __**kwargs__ make the function *flexible*.

__Que__ -- Define a function called __myfunc__ that takes in arbitary number of arguments, and returns a __list__ containing only those arguments that are even.

In [72]:
list=[]
def myfunc(*args):
    for num in args:
        if num% 2== 0:
            list.append(num)
    return list

In [73]:
myfunc(1,2,3,4,5,6,7,8,9,10)

[2, 4, 6, 8, 10]

__Que__ -- Define a function called __myfunc__ that takes in a string, and returns a matching string where every even letter is uppercase and every odd letter is lowercase.

In [74]:
def my_func(st):

    res = []
    #Iterate over the character
    for index in range(len(st)):
        if index % 2 == 0:
            #Refer to each character via index and append modified character to list
            res.append(st[index].lower())
        else:
            res.append(st[index].upper())

    #Join the list into a string and return
    return ''.join(res)

In [75]:
my_func('abcdefghi')

'aBcDeFgHi'

In [76]:
def myfunc(x):
    out = []
    for i in range(len(x)):
        if i%2==0:
            out.append(x[i].lower())
        else:
            out.append(x[i].upper())
    return ''.join(out)

In [77]:
my_func('abcdefghi')

'aBcDeFgHi'

In [78]:
def my_func(st):

    res = []
    #Iterate over the characters
    for index, c in enumerate(st):
        if index % 2 == 0:
            #Refer to each character via index and append modified character to list
            res.append(c.lower())
        else:
            res.append(c.upper())

    #Join the list into a string and return
    return ''.join(res)
print(my_func('helloworld'))

hElLoWoRlD

### __Lambda Expressions, Map, and Filter Functions__

#### __map__ function

`map()` function returns a map object(which is an **iterator**) of the results after applying the given function to **each item** of a given iterable (**list**, **tuple** etc.)

```
Syntax :

map(func, iter)
```

`func` : It is a function to which map passes each element of given iterable.

`iter` : It is a iterable which is to be mapped

In [1]:
def square(num):      # func
    return num**2
    
my_nums = [1,2,3,4,5] # iter

map(square, my_nums)  # map function

# To get the results, either iterate through map() 
# Or just cast to a list
result = list(map(square, my_nums))
print(result)

[1, 4, 9, 16, 25]

In [2]:
def addition(n): 
    return n + n 
 
numbers = (1, 2, 3, 4) 
result = map(addition, numbers)
 
print(list(result))

[2, 4, 6, 8]

In [4]:
# Double all numbers using map and lambda 
  
numbers = (1, 2, 3, 4) 
result = map(lambda x: x + x, numbers)

'''
func: lambda x: x + x
iter: numbers = (1, 2, 3, 4) 
'''
print(list(result))

[2, 4, 6, 8]

In [5]:
# Add two lists using map and lambda 
  
numbers1 = [1, 2, 3] 
numbers2 = [4, 5, 6] 
  
result = map(lambda x, y: x + y, numbers1, numbers2) 
print(list(result))

[5, 7, 9]

In [6]:
# List of strings 
l = ['sat', 'bat', 'cat', 'mat'] 
  
# map() can listify the list of strings individually 
test = list(map(list, l)) 
print(test)

[['s', 'a', 't'], ['b', 'a', 't'], ['c', 'a', 't'], ['m', 'a', 't']]

In [7]:
# mapping the complex function to an iterator

def splicer(mystring):
    if len(mystring) % 2 == 0:
        return 'even'
    else:
        return mystring[0]

mynames = ['John','Cindy','Sarah','Kelly','Mike']

list(map(splicer, mynames))

['even', 'C', 'S', 'K', 'even']

__Note__: 

- *we* are not using the open and close pranthesis in the function __square__ and __splicer__ because __map__ itself latter execute them.so inside an __map__ function we are passing our function as an argument.

#### __Filter__ function

The `filter()` method filters the given sequence with the help of a function that tests each element in the sequence to be true or not.

__syntax:__
```
filter(function, sequence)
```
__Parameters:__

- `function:` function that tests if each element of a sequence true or not.

- `sequence:` sequence which needs to be filtered, it can be sets, lists, tuples, or containers of any iterators.

__Returns:__

returns an iterator that is already filtered.

In [8]:
def check_even(num):
    return num%2 == 0

num_list = [1,2,3,4,5,6,7,8,9,10]

# filtering the even number from this list
list(filter(check_even, num_list))

[2, 4, 6, 8, 10]

In [9]:
for n in filter(check_even, num_list):
    print(n, end= ' ')

2 4 6 8 10

In [10]:
# function that filters vowels 
def fun(variable): 
	letters = ['a', 'e', 'i', 'o', 'u'] 
	if (variable in letters): 
		return True
	else: 
		return False


# sequence 
sequence = ['g', 'e', 'j', 'k', 's', 'p', 'r', 'a', 'i'] 

# using filter function 
filtered = filter(fun, sequence) 

print('The filtered letters are:') 
for s in filtered: 
	print(s)

The filtered letters are:
e
a
i

In [11]:
# a list contains both even and odd numbers. 
seq = [0, 1, 2, 3, 5, 8, 13] 

# result contains odd numbers of the list 
result = filter(lambda x: x % 2 != 0, seq) 
print(list(result)) 

# result contains even numbers of the list 
result = filter(lambda x: x % 2 == 0, seq) 
print(list(result))

[1, 3, 5, 13]
[0, 2, 8]

#### __Lamda__ Function

- Lamda function can be used to creat what is known as **anonymous function**.

- This is a **one time function** that doesn't requre the naming like other function

- we use them one time in our program and never refernce them again.

- A lambda function can take any number of arguments, but can only have one expression.


__Syntax__
```
lambda arguments : expression
```

- since lamda is a one time function so it doesn't requre the naming.

In [12]:
square_l = lambda num:num**2 # lambda arguments : expression
square_l(25)

625

Lambda function is used in conjection with the other function.

- Earlier when we are using the **map** function we are  defining the square function seprately--> thats using some extra space in the memory  hence to avoide this what we could do is to call the lambda function insted.

In [13]:
num_lis = [1,2,3,4,5,6,7,8,9,10]
'''
here we are genrating the square list by mapping
the lambda expression to the num_lis
'''
list(map(lambda num:num**2, num_lis))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [14]:
# Python code to illustrate cube of a number 
# showing difference between def() and lambda(). 
def cube(y): 
	return y*y*y 

lambda_cube = lambda y: y*y*y 

# using the normally 
# defined function 
print(cube(5)) 

# using the lamda function 
print(lambda_cube(5))

125
125

In [15]:
# map() with lambda()
 
# to get double of a list. 
li = [5, 7, 22, 97, 54, 62, 77, 23, 73, 61] 
final_list = list(map(lambda x: x*2, li)) 
print(final_list) 

# Grabing the first letter of the name
name_list_2 = ['Captin', 'Aston', 'Timberlake']
result_2 = list(map(lambda name:name[0], name_list_2))
print(result_2)

# printing the reverse of the name
result_3 = list(map(lambda name:name[::-1], name_list_2))
print(result_3)

[10, 14, 44, 194, 108, 124, 154, 46, 146, 122]
['C', 'A', 'T']
['nitpaC', 'notsA', 'ekalrebmiT']

In [16]:
# Using lambda function with filter

# Grabing the even number from the list of number
num_list_1 = [1,2,3,4,5,6,7,8,9,10]
result_1 = list(filter(lambda num:num%2 == 0, num_list_1))
print(result_1)

# filter() with lambda() 
li = [5, 7, 22, 97, 54, 62, 77, 23, 73, 61] 
final_list = list(filter(lambda x: (x%2 != 0) , li)) 
print(final_list) 

# Python 3 code to people above 18 yrs 
ages = [13, 90, 17, 59, 21, 60, 5] 
adults = list(filter(lambda age: age>18, ages))   
print(adults)

[2, 4, 6, 8, 10]
[5, 7, 97, 77, 23, 73, 61]
[90, 59, 21, 60]

###  __Nested Statements and Scope__

Now that we have gone over writing our own functions, it's important to understand how Python deals with the variable names you assign. When you create a variable name in Python the name is stored in a *name-space*. Variable names also have a *scope*, the scope determines the visibility of that variable name to other parts of your code.

Let's start with a quick thought experiment; imagine the following code:

In [17]:
x = 25

def printer():
    x = 50
    return x

What do you imagine the output of printer() is? 25 or 50? What is the output of print x? 25 or 50?

In [18]:
print(x) # Printing the Global

25

In [19]:
print(printer()) # Printing the Local

50

Interesting! But how does Python know which **x** you're referring to in your code? This is where the idea of **scope** comes in.

Python has a set of rules it follows to decide what variables (such as **x** in this case) you are referencing in your code. Lets break down the rules:

This idea of scope in your code is very important to understand in order to properly assign and **call variable names**. 

In simple terms, the idea of scope can be described by **3 general rules**:

1. Name assignments will create or change local names by default.
2. Name references search (at most) four scopes, these are:
    * local
    * enclosing functions
    * global
    * built-in
3. Names declared in global and nonlocal statements map assigned names to enclosing module and function scopes.


The statement in #2 above can be defined by the __LEGB rule__.

**LEGB Rule:**

- __L: Local__ — Names assigned in any way within a function (def or lambda), and not declared global in that function.

- __E: Enclosing function locals__ — Names in the local scope of any and all enclosing functions (def or lambda), from inner to outer.

- __G: Global (module)__ — Names assigned at the top-level of a module file, or declared global in a def within the file.

- __B: Built-in (Python)__ — Names preassigned in the built-in names module : open, range, SyntaxError,...

### __Quick examples of LEGB__

#### _Local_

In [20]:
# x is local here:
f = lambda x:x**2

#### _Enclosing_ function locals


This occurs when we have a function inside a function (nested functions)

In [21]:
'''LEGB Rule:'''

# Global
name = 'This is a global name' # This has qa Global Scope

def greet():
    # Enclosing function
    name = 'This is Enclosing'
    
    def hello():
        # local
        name ='This is local'  # This has the SCOPE local to this function.
        print('Hello '+name)
    hello()

__Note__: when we execute `hello()` this will immeditaly execute the function below $\downarrow$


```
def hello():
        # local
        name ='This is local'
        print('Hello '+name)
```
which ask the python to figure out $\Rightarrow$ what dose this name varible assigned to?

This will immediately finds this in local.

$\Rightarrow$ if we comment that out this will then look for the name space in the Enclosing function.

$\Rightarrow$ and if trha also commented out that also then it will look for the name space in the Global.

In [22]:
greet()

Hello This is local

Note how Sammy was used, because the hello() function was enclosed inside of the greet function!

#### _Global_

Luckily in Jupyter a quick way to test for global variables is to see if another cell recognizes the variable!

In [23]:
print(name)

This is a global name

#### _Built-in_

These are the built-in function names in Python (don't overwrite these!)

In [24]:
len

### __Local Variables__

When you declare variables inside a function definition, they are not related in any way to other variables with the same names used outside the function - i.e. variable names are local to the function. This is called the **scope** of the variable.

All variables have the scope of the block they are declared in starting from the point of definition of the name.

__Example:__

In [25]:
x = 50         # This has a Global Scope 

def func(x):
    print('x is', x)
    x = 2      # This has a local scope
    print('Changed local x to', x)

func(x)
print('x is still', x)

x is 50
Changed local x to 2
x is still 50

The first time that we print the value of the name **x** with the first line in the function’s body, Python uses the value of the parameter declared in the main block, above the function definition.

Next, we assign the value 2 to **x**. The name **x** is local to our function. So, when we change the value of **x** in the function, the **x** defined in the main block remains unaffected.

With the last print statement, we display the value of **x** as defined in the main block, thereby confirming that it is actually unaffected by the local assignment within the previously called function.

### The <code>global</code> statement
If you want to assign a value to a name defined at the top level of the program (i.e. not inside any kind of scope such as functions or classes), then you have to tell Python that the name is not local, but it is global. We do this using the <code>global</code> statement. It is impossible to assign a value to a variable defined outside a function without the global statement.

You can use the values of such variables defined outside the function (assuming there is no variable with the same name within the function). However, this is not encouraged and should be avoided since it becomes unclear to the reader of the program as to where that variable’s definition is. Using the <code>global</code> statement makes it amply clear that the variable is defined in an outermost block.

Example:

In [26]:
x = 50

def func():
    global x
    print('This function is now using the global x!')
    print('Because of global x is: ', x)
    x = 2
    print('Ran func(), changed global x to', x)

print('Before calling func(), x is: ', x)
func()
print('Value of x (outside of func()) is: ', x)

Before calling func(), x is:  50
This function is now using the global x!
Because of global x is:  50
Ran func(), changed global x to 2
Value of x (outside of func()) is:  2

The <code>global</code> statement is used to declare that **x** is a global variable - hence, when we assign a value to **x** inside the function, that change is reflected when we use the value of **x** in the main block.

You can specify more than one global variable using the same global statement e.g. <code>global x, y, z</code>.

In [27]:
'''This is the much genral path  to  take  rather  then  using  the 
GLOBAL  VARIBLE   because  with  the  larger  scripts  there  is  a
possibility that you may write the GLOBAL keyword inside a function
without ever knowing it, & this will make the debugging of the code 
much harder '''

x = 50

def func(x):
    print(f'X is {x}')

    # LOCAL REASSIGNMENT ON A GLOBAL VARIBLE!!!
    x = 'NEW VALUE'
    print(f'I JUST LOCALLY CHANGED GLOBAL X TO {x}')
    return x

In [28]:
print(x)

50

In [29]:
# This is much easier to debug because clear re-assignment is happening here
x = func(x)

X is 50
I JUST LOCALLY CHANGED GLOBAL X TO NEW VALUE

In [30]:
print(x)

NEW VALUE

#### __Conclusion__
You should now have a good understanding of Scope (you may have already intuitively felt right about Scope which is great!) One last mention is that you can use the **globals()** and **locals()** functions to check what are your current local and global variables.

Another thing to keep in mind is that everything in Python is an object! I can assign variables to functions just like I can with numbers! We will go over this again in the decorator section of the course!

### __Array__

An **array** is a collection of items stored at **contiguous**(Sharing a common border, touching) memory locations.

The idea is to **store multiple items of the same type together**. This makes it easier to calculate the position of each element by simply adding an offset to a base value, i.e., the memory location of the first element of the array (generally denoted by the name of the array).


However, user **cannot** constraint(limitation or restriction.) the type of elements stored in a list. If you create arrays using the `array module`, a**ll elements of the array must be of the same type**.

In [31]:
# Create an array containing car names:
cars = ["Ford", "Volvo", "BMW"]

 > $\color{red}{\textbf{NOTE}}$: __Python does not have built-in support for Arrays, but Python Lists can be used instead.__

In [32]:
# Looping Array Elements

for x in cars:
  print(x)

Ford
Volvo
BMW

__Python has a set of built-in methods that you can use on lists/arrays.__

<center><img src = 'https://www.engineeringbigdata.com/wp-content/uploads/python-array-methods.jpg'></center>

In [33]:
# Python program to demonstrate 
# Creation of Array 

# importing "array" for array creations 
import array as arr 

# creating an array with integer type 
a = arr.array('i', [1, 2, 3]) 

# printing original array 
print ("The new created array is : ", end =" ") 
for i in range (0, 3): 
	print (a[i], end =" ") 
print() 

# creating an array with float type 
b = arr.array('d', [2.5, 3.2, 3.3]) 

# printing original array 
print ("The new created array is : ", end =" ") 
for i in range (0, 3): 
	print (b[i], end =" ")

The new created array is :  1 2 3
The new created array is :  2.5 3.2 3.3

In [34]:
# Python program to demonstrate 
# Adding Elements to a Array 

# importing "array" for array creations 
import array as arr 

# array with int type 
a = arr.array('i', [1, 2, 3]) 


print ("Array before insertion : ", end =" ") 
for i in range (0, 3): 
	print (a[i], end =" ") 
print() 

# inserting array using 
# insert() function 
a.insert(1, 4) 

print ("Array after insertion : ", end =" ") 
for i in (a): 
	print (i, end =" ") 
print() 

# array with float type 
b = arr.array('d', [2.5, 3.2, 3.3]) 

print ("Array before insertion : ", end =" ") 
for i in range (0, 3): 
	print (b[i], end =" ") 
print() 

# adding an element using append() 
b.append(4.4) 

print ("Array after insertion : ", end =" ") 
for i in (b): 
	print (i, end =" ") 
print()

Array before insertion :  1 2 3
Array after insertion :  1 4 2 3
Array before insertion :  2.5 3.2 3.3
Array after insertion :  2.5 3.2 3.3 4.4

In [35]:
# Python program to demonstrate 
# accessing of element from list 

# importing array module 
import array as arr 

# array with int type 
a = arr.array('i', [1, 2, 3, 4, 5, 6]) 

# accessing element of array 
print("Access element is: ", a[0]) 

# accessing element of array 
print("Access element is: ", a[3]) 

# array with float type 
b = arr.array('d', [2.5, 3.2, 3.3]) 

# accessing element of array 
print("Access element is: ", b[1]) 

# accessing element of array 
print("Access element is: ", b[2])

Access element is:  1
Access element is:  4
Access element is:  3.2
Access element is:  3.3

In [36]:
# Python program to demonstrate 
# Removal of elements in a Array 

# importing "array" for array operations 
import array 

# initializing array with array values 
# initializes array with signed integers 
arr = array.array('i', [1, 2, 3, 1, 5]) 

# printing original array 
print ("The new created array is : ", end ="") 
for i in range (0, 5): 
	print (arr[i], end =" ") 

print ("\r") 

# using pop() to remove element at 2nd position 
print ("The popped element is : ", end ="") 
print (arr.pop(2)) 

# printing array after popping 
print ("The array after popping is : ", end ="") 
for i in range (0, 4): 
	print (arr[i], end =" ") 

print("\r") 

# using remove() to remove 1st occurrence of 1 
arr.remove(1) 

# printing array after removing 
print ("The array after removing is : ", end ="") 
for i in range (0, 3): 
	print (arr[i], end =" ")

The new created array is : 1 2 3 1 5
The popped element is : 3
The array after popping is : 1 2 1 5
The array after removing is : 2 1 5